.philosophy-page {
    .aside-bar {
        padding-top: 120px;
        .nav {
            ul {
                li {
                    list-style: none; 
                    padding: 12px 0;   
                    a {
                        text-transform: uppercase;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.1em;
                        color: #1F1F22;
                    }

                    a:active {
                        opacity: 0.3!important;
                        color: #1F1F22;
                    }
                    a:hover {
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}