extends ../layout/main

block variables
  - const pageTitle = 'Payment Methods'

    mixin asideNav(link,name) 
      li
        a(href=link)=name 
    mixin otherPage(link,name)
      a(href=link)=name     

block content
  include ../modules/header_other
  include ../modules/modal-menu 

  #addPayment.inner-page 
    .m-container
      .m-row
        .m-col.m-col--3.m-col__lg--3.m-col__ms--2.m-col__mxs--1
          include ../modules/aside-profile
        .m-col.m-col--9.m-col__lg--11.m-col__ms--15.m-col__mxs--15
          .inner-content
            .mobile-other-header
              +otherPage('./payment.html', 'Payment Methods')  
            h1 Payment Methods   
            .inner-block
              h3 New method
            .inner-photo
              .text Method type:
              .method_type
                button(value="").active Stripe
                button Paypal
                button UnionPay
            .inner-photo
              .text Card number:
              input(type="text") 
            .inner-photo
              .text MM / YY / CVC
              input(type="text")
            .inner-photo
              .text
              .btn-account   
                button ADD METHOD
                button CANCEL                

        .m-col.m-col--3.m-col__lg--1.m-col__ms--1.m-col__mxs--1


      .m-row
        .m-col.m-col--15
          include ../modules/footer 