extends ../layout/main

block variables
    - const pageTitle = 'Catalog'

block content
    include ../modules/header
    include ../modules/modal-menu

    #catalog-page.inner-page
        .m-container
            .m-row
                .m-col.m-col--3.m-col__lg--1.m-col__ms-display-none
                .m-col.m-col--12.m-col__lg--14.m-col__ms--15
                    h1.catalog__title-fix Catalog
                    div.filter-btn Filter
                        img(src="../media/icon/filter.svg", alt="icon")
            .m-row
                .m-col.m-col--3.m-col__ms-display-none
                .m-col.m-col--9.m-col__ms--15.m-col__mxs--15
                    .catalog-wrap
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                        include ../modules/list-item
                .m-col.m-col--3.m-col__ms--4.m-col__mxs-display-none
                    .aside-catalog
                        ul
                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Product type
                                ul.dropdown-menu
                                    li
                                        label.radio
                                            input(type="radio" name="r" value="1" checked)
                                            span Bag
                                    li
                                        label.radio
                                            input(type="radio" name="r" value="2")
                                            span Backpack
                                    li
                                        label.radio.last-radio
                                            input(type="radio" name="r" value="3")
                                            span Tent

                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Elements
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Body
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Shape
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Handle

                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Materials
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Materials_1
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Materials_2
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Materials_3
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="4").option-input
                                            span Materials_4
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="5").option-input
                                            span Materials_5

                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Color
                                ul.dropdown-menu.catalog-color
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color2.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color2.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")


                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Collection
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Collection_1
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Collection_2
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Collection_3
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="4").option-input
                                            span Collection_4
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="5").option-input
                                            span Collection_5

                            li.dropdown
                                input(type="checkbox")
                                a(href="#" data-toggle="dropdown") Motives
                                ul.dropdown-menu#catalog-btn
                                    li
                                        button.acc-btn neo
                                    li
                                        button.acc-btn Future
                                    li
                                        button.acc-btn Desert
                                    li
                                        button.acc-btn Night
                                    li
                                        button.acc-btn Jungle
                                    li
                                        button.acc-btn Pirozhok
                                    li
                                        button.acc-btn Jungle
                                    li
                                        button.acc-btn Sky
                                    li
                                        button.acc-btn Jungle

    include ../modules/footer
    include ../modules/catalog-modal
    #filter-page
        .filter-nav
            .m-container
                .m-row
                    .m-col.m-col--15
                        .filter-wrap
                            div.filter-back Filter
                                img(src="../media/icon/arrow-left.svg", alt="")
        .m-container
            .m-row
                .m-col.m-col--15
                    .aside-catalog
                        ul
                            li.dropdown

                                h3  Product type
                                ul.dropdown-menu
                                    li
                                        label.radio
                                            input(type="radio" name="r" value="1" checked)
                                            span Bag
                                    li
                                        label.radio
                                            input(type="radio" name="r" value="2")
                                            span Backpack
                                    li
                                        label.radio
                                            input(type="radio" name="r" value="3")
                                            span Tent

                            li.dropdown

                                h3  Elements
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Body
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Shape
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Handle

                            li.dropdown

                                h3  Materials
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Materials_1
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Materials_2
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Materials_3
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="4").option-input
                                            span Materials_4
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="5").option-input
                                            span Materials_5

                            li.dropdown

                                h3  Color
                                ul.dropdown-menu.catalog-color
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color2.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color2.png", alt="icon")
                                    li
                                        button.color-btn
                                            img(src="../media/icon/color3.png", alt="icon")


                            li.dropdown

                                h3  Collection
                                ul.dropdown-menu
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="1" checked).option-input
                                            span Collection_1
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="2").option-input
                                            span Collection_2
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="3").option-input
                                            span Collection_3
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="4").option-input
                                            span Collection_4
                                    li
                                        label.checklink
                                            input(type="checkbox" name="r" value="5").option-input
                                            span Collection_5

                            li.dropdown

                                h3  Motives
                                ul.dropdown-menu#catalog-btn
                                    li
                                        button.acc-btn neo
                                    li
                                        button.acc-btn Future
                                    li
                                        button.acc-btn Desert
                                    li
                                        button.acc-btn Night
                                    li
                                        button.acc-btn Jungle
                                    li
                                        button.acc-btn Pirozhok
                                    li
                                        button.acc-btn Jungle
                                    li
                                        button.acc-btn Sky
                                    li
                                        button.acc-btn Jungle
        .btn-wrap
            .btn-item
                button Reset
                button Apply
    #detail-page
        .filter-nav
            .m-container
                .m-row
                    .m-col.m-col--15
                        .filter-wrap
                            div.filter-back Detail
                                img(src="../media/icon/arrow-left.svg", alt="")
        .m-container
            .m-row
                .m-col.m-col--15
                    .catalog-detail
                        h3 Elbag
                        h2 Little E - Lether / Cotton
                        #single-owl.owl-carousel.owl-theme
                            .item
                                .detail-slide
                                    img(src="../media/icon/modal-elem.svg", alt="image")
                            .item
                                .detail-slide
                                    img(src="../media/icon/modal-elem2.svg", alt="image")
                            .item
                                .detail-slide
                                    img(src="../media/image/list4.png", alt="image")
                            .item
                                .detail-slide
                                    img(src="../media/icon/modal-elem2.svg", alt="image")
                        p Le Little E (Little Elephant Bag) est le premier sac à main qui vous permet de découvrir toutes les facettes de la marque ELBA Concept.
                        .see-detail--fix See a detailed product sheet
                        h4 Elements
                        .detail-elem
                            img(src="../media/icon/modal-elem.svg", alt="icon")
                            img(src="../media/icon/modal-elem2.svg", alt="icon")
                            img(src="../media/icon/modal-elem.svg", alt="icon")
                            img(src="../media/icon/modal-elem2.svg", alt="icon")
                        h5 Total:
                        .price
                            p € 1,420.00
                            p.offer  1,420.00
                        p La livraison est offerte et les retours sont gratuits à partir de 300€ d’achat en France métropolitaine.
        .btn-wrap
            .btn-item
                button Buy now
                button Add to cart
