extends ../layout/main

block variables
  - const pageTitle = 'ELBA'

block content
  include ../modules/header

  .fullPage.collections
    .collections__content.full-height
      .m-container.full-height
        .m-row.full-height
          .m-col.m-col--3
            .follow-us
              a.follow-us__link.follow-us__link--dark(href='#') Follow us

          .m-col.m-col--12
            .collections__slider-box.collections__slider-box--active
              .collect__nav-box
                .title Our collections
              .collections__slider.owl-carousel
                .collect-slider__item
                  img.poster(src='./media/image/collect1.jpg')
                  .color-list
                    .color-list__item(style='background: #0097AB')
                    .color-list__item(style='background: #E7D9B6')
                    .color-list__item(style='background: #C1E6FF')
                  .title Miami
                  .desc Inspiration by the ocean and warm sand. #[br] The combination of aquamarine and beige.
                  a.arrow-link.arrow-link--dark(href='#') Discover
                .collect-slider__item
                  img.poster(src='./media/image/collect2.jpg')
                  .color-list
                    .color-list__item(style='background: #3E7AD6')
                    .color-list__item(style='background: #FFA7AC')
                    .color-list__item(style='background: #5E23AA')
                  .title Paris
                  .desc Inspiration by the ocean and warm sand. #[br] The combination of aquamarine and beige.
                  a.arrow-link.arrow-link--dark(href='#') Discover
                .collect-slider__item
                  img.poster(src='./media/image/collect3.jpg')
                  .color-list
                    .color-list__item(style='background: #FDB14B')
                    .color-list__item(style='background: #E2DED7')
                    .color-list__item(style='background: #813B01')
                  .title Zimbabwe
                  .desc Inspiration by the ocean and warm sand. #[br] The combination of aquamarine and beige.
                  a.arrow-link.arrow-link--dark(href='#') Discover
                .collect-slider__item
                  img.poster(src='./media/image/collect4.jpg')
                  .color-list
                    .color-list__item(style='background: #006703')
                    .color-list__item(style='background: #394E49')
                    .color-list__item(style='background: #C1E6FF')
                  .title Jungle
                  .desc Inspiration by the ocean and warm sand. #[br] The combination of aquamarine and beige.
                  a.arrow-link.arrow-link--dark(href='#') Discover