extends ../layout/main

block variables
	- const pageTitle = 'Our Comunity'

		mixin asideNav(link,name)
			li
				a(href=link)=name

block content
	include ../modules/header

	.inner-page#comunity-page
		.m-container
			.m-row
				.m-col.m-col--3
					include ../modules/aside-bar
				.m-col.m-col--9
					.inner-content
						h1 Our Comunity
						img(src="./media/image/comunity.png", alt="image")
						.inner-block
							p When we say we're nothing without you, we mean it. Your stories, your perspectives, and of course your creations, are the true DNA of Laudi Vidni. No matter who you are or where you came from, we celebrate everything that makes you an individual.
							h3 Influencers
						.inner-photo
							.text
								h3 Ting
								p @username
								h3 Who are you?
								p  I am the content creator to @tingmystyle, mother to my two handsome sons and wife to my loving husband.
								h3 Have you always been you?
								p  It took me 20 years to grow into myself gradually and to be confident in my own skin.
								a.inner-btn(href="#") Read more
							img(src="./media/image/Influencers.png", alt="image")
						.inner-photo
							.text
								h3 Larisa
								p @username
								h3 Who are you?
								p  I am Brandon Dorsey, also known as the artist/dancer Brand1. Chicago is my home and Circle Theory and GOOD DOODS are the collectives I ride...
								h3 Have you always been you?
								p I'm still realizing who I am I'd say! That being said, every time I take the opportunity to do something I WANT to do, artistically and/or w...
								a.inner-btn(href="#") Read more
							img(src="./media/image/Influencers2.png", alt="image")
						.inner-photo
							.text
								h3 Klavdia
								p @username
								h3 Who are you?
								p  I am an optometrist and a lifestyle blogger. I am a city girl who loves the color pink, capturing moments on camera, going on adventures, an...
								h3 Have you always been you?
								p  Becoming who I am is an ongoing process. The woman I am today is one that I grew into and love and one that will continue to grow with time.
								a.inner-btn(href="#") Read more
							img(src="./media/image/Influencers3.png", alt="image")
						.inner-photo
							.text
								h3 Matrena
								p @username
								h3 Who are you?
								p  I I am an optometrist and a lifestyle blogger. I am a city girl who loves the color pink, capturing moments on camera, going on adventures, an... 
								h3 Have you always been you?
								p Becoming who I am is an ongoing process. The woman I am today is one that I grew into and love and one that will continue to grow with time. 
								a.inner-btn(href="#") Read more
							img(src="./media/image/Influencers4.png", alt="image")                  



				.m-col.m-col--3

			.m-row
				.m-col.m-col--15
					include ../modules/footer 




