extends ../layout/main

block variables
    - const pageTitle = 'Concept'

        mixin asideNav(link,name)
            li
                a(href=link)=name

block content
    include ../modules/header

    #concept-page.inner-page
        .m-container
            .m-row
                .m-col.m-col--3.m-col__lg--3.m-col__ms--2.m-col__mxs--1
                
                .m-col.m-col--9.m-col__lg--10.m-col__ms--11.m-col__mxs--13.m-col__sm--15
                    .inner-content
                        h1 Concept
                        img(src="./media/image/concept.png", alt="image")
                        .inner-block
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            h3 Simple construction 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
                        .inner-photo
                            .text
                                h3 Create your own style
                                p A small amount of text describing the personality and what it brings to the brand.
                                a.inner-btn(href="#") Create
                            img(src="./media/image/concept1.png", alt="image")
                        .inner-block
                            h3 Just 10 seconds
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.      
                        .inner-photo
                            .text
                            img(src="./media/image/concept2.png", alt="image")
                        .inner-block
                            p Choose the shape of the bag. With one set, you can coordinately change the shape of the bag in 5 seconds.
                            a.inner-btn(href="#") Create your own bag
                        .inner-block
                            //- h3  Our Insperation
                .m-col.m-col--3.m-col__lg--2.m-col__ms--2.m-col__mxs--1


            .m-row
                .m-col.m-col--15
                    include ../modules/footer 




