extends ../layout/main

block variables
  - const pageTitle = 'ELBA'

block content
  include ../modules/header
  include ../modules/modal-menu

  .configurator
    .m-container.full-height
      .m-row.full-height
        .m-col.m-col--3
          include ../modules/left-sidebar
        .m-col.m-col--8.full-height
          .configurator__main.full-height
            .configurator__top
              .conf__title Elbag yourself

            .configurator__content
              .conf__main-top
                .text Complete your bag with more than #[span 4 elements] and get e reduction on the total!
                .links
                  a.link(href='about') About this product
                  a.link(href='delivery') Delivery and returns
                  a.link(href='service') Service


              img.conf__img(src='./media/image/big-bag.png' alt='elba')

              .conf__main-bottom
                .bot__info
                  .bot__total Total:
                  .bot__prices
                    .bot__price € 1,420.00
                    .bot__real-price 1,800.00
                .bot__text La livraison est offerte et les retours sont gratuits à partir de 300€ d’achat en France métropolitaine.
        .m-col.m-col--4
          include ../modules/right-sidebar