extends ../layout/main

block variables
  - const pageTitle = 'ELBA'

block content
  include ../modules/header

  .fullPage.image-text
    .image-text__content.full-height
      .m-container.full-height
        .m-row.full-height
          .m-col.m-col--3
            .follow-us
              a.follow-us__link.follow-us__link--dark(href='#') Follow us

          .m-col.m-col--2.full-height
            .image-text__imgs.image-text__imgs--double
              img.image-text__img.image-text__img--1(src='./media/image/img-1.png')
              img.image-text__img.image-text__img--2(src='./media/image/img-2.png')
          .m-col.m-col--4.full-height
            .image-text__imgs.image-text__imgs--single
              img.image-text__img.image-text__img--3(src='./media/image/img-3.png')
          .m-col.m-col--5.full-height
            .image-text__text
              .image-text__title Select everything
              .image-text__desc
                p Choose several combinations to stay unique and vibrant in any situation.
                p It does not matter what situations occur during the day. Whether it's a date, playing sports, or meeting friends.
                p Are you ready for any situation with ELBA bags?