extends ../layout/main

block variables
  - const pageTitle = 'ELBA'

block content
  include ../modules/header
    //video.about__videoblock#about-video(src='./media/video/about.mp4' playsinline muted autoplay loop preload="" controls)