extends ../layout/main

block variables
	- const pageTitle = 'Our materials'

		mixin asideNav(link,name)
			li
				a(href=link)=name

block content
	include ../modules/header

	#materials-page.inner-page
		.m-container
			.m-row
				.m-col.m-col--3
					include ../modules/aside-bar
				.m-col.m-col--9
					.inner-content
						h1 Our Materials
						img(src="./media/image/materials.png", alt="image")
						.inner-block
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h3 title
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
						img(src="../media/image/materials2.png", alt="image")
						.inner-block
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur cumque est? Quasi deserunt modi, laborum eligendi nulla quis veniam vitae error adipisci itaque enim ad eveniet natus unde! Rem.
						.materials-table
							.caption
								h4 column
								h4 column
								h4 price
							.table-row
								h3 Title
									svg(width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
										rect(width="8" height="8" rx="4" fill="#2EB444")


								p Thus, the strengthening and development of the structure plays an important role in the formation of participatory systems.
								p 114 990 $
							.table-row
								h3 Title
									svg(width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
										rect(width="8" height="8" rx="4" fill="#2EB444")
								p Thus, the strengthening and development of the structure plays an important role in the formation of participatory systems.
								p 114 990 $
						.inner-block
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consequuntur cumque est? Quasi deserunt modi, laborum eligendi nulla quis veniam vitae error adipisci itaque enim ad eveniet natus unde! Rem.		
				.m-col.m-col--3


			.m-row
				.m-col.m-col--15
					include ../modules/footer 




