extends ../layout/main

block variables
  - const pageTitle = 'News'

    mixin asideNav(link,name)
      li
        a(href=link)=name

block content
    include ../modules/header
    include ../modules/modal-menu

    #news
        .m-container
            .m-row
                .m-col.m-col--3
                .m-col.m-col--12.m-col__ms--15
                    h1 News
            .m-row
                .m-col.m-col--3
                    include ../modules/aside-bar-news
                .m-col.m-col--12.m-col__ms--15
                    .news-wrap
                        a(href="./blog.html").news-link
                            .news-content
                                img(src="./media/image/news.png", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.
                    
                        a(href="#").news-link
                            .news-content
                                img(src="./media/image/blog2.jpg", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.
                    
                        a(href="#").news-link
                            .news-content
                                img(src="./media/image/blog3.jpg", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.

                        a(href="#").news-link
                            .news-content
                                img(src="./media/image/news.png", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.
                    
                        a(href="#").news-link
                            .news-content
                                img(src="./media/image/blog4.jpg", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.
                    
                        a(href="#").news-link
                            .news-content
                                img(src="./media/image/blog5.jpg", alt="image")
                                h3 Title of the page
                                p Inspiration by the ocean and warm sand.The combination of aquamarine and beige.        
                                                    
            .m-row
                .m-col.m-col--15
                    include ../modules/footer
                    include ../modules/subscribe-modal 




