extends ../layout/main

block variables
  - const pageTitle = 'Create an account'

    mixin asideNav(link,name)
      li
        a(href=link)=name 

block content
  include ../modules/header
  include ../modules/modal-menu

  #orders.inner-page 
    .m-container
      .m-row
        .m-col.m-col--3.m-col__lg--3.m-col__ms--2.m-col__mxs--1
          include ../modules/aside-profile
        .m-col.m-col--9.m-col__lg--10.m-col__ms--10.m-col__mxs--15
          .inner-content
            h1 My orders
            .aside-catalog
              ul
                li.dropdown
                  input(type="checkbox")
                  a(href="#" data-toggle="dropdown")
                    .order
                      p 8-229-63794
                      button During delivery
                    .date 12.05.2020
                    .price € 560.00
                    .count 2
                  ul.dropdown-menu
                    li
                      .main-block
                        h3 Order list
                        .order-block
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 200.00
                            .items
                              p 1 
                      .main-block
                        h3.delivery-title Delivery data
                        .order-block
                          .order-item
                            p.delivery-info Receiver first name:
                            p.info Olga
                          .order-item
                            p.delivery-info Receiver last name:
                            p.info Malashkina
                          .order-item
                            p.delivery-info Company name:
                            p.info Pokatilov
                          .order-item
                            p.delivery-info ZIP-code:
                            p.info 
                          .order-item
                            p.delivery-info Country:
                            p.info
                          .order-item
                            p.delivery-info City:
                            p.info   
                          .order-item
                            p.delivery-info Region:
                            p.info
                          .order-item
                            p.delivery-info Address:
                            p.info 6 rue Arsène Houssaye, 8ème 
                          .order-item
                            p.delivery-info Phone number:
                            p.info +7 (925) 123-45-67
                          .order-item
                            p.delivery-info Promo-code:
                            p.info
                          .order-item
                            button Receipt of payment
                            button Cancel the order
                li.dropdown
                  input(type="checkbox")
                  a(href="#" data-toggle="dropdown")
                    .order
                      p 8-229-63794
                      button.btn-status-Prepering Prepering
                    .date 12.05.2020
                    .price € 560.00
                    .count 2
                  ul.dropdown-menu
                    li
                      .main-block
                        h3 Order list
                        .order-block
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 200.00
                            .items
                              p 1 
                      .main-block
                        h3.delivery-title Delivery data
                        .order-block
                          .order-item
                            p.delivery-info Receiver first name:
                            p.info Olga
                          .order-item
                            p.delivery-info Receiver last name:
                            p.info Malashkina
                          .order-item
                            p.delivery-info Company name:
                            p.info Pokatilov
                          .order-item
                            p.delivery-info ZIP-code:
                            p.info 
                          .order-item
                            p.delivery-info Country:
                            p.info
                          .order-item
                            p.delivery-info City:
                            p.info   
                          .order-item
                            p.delivery-info Region:
                            p.info
                          .order-item
                            p.delivery-info Address:
                            p.info 6 rue Arsène Houssaye, 8ème 
                          .order-item
                            p.delivery-info Phone number:
                            p.info +7 (925) 123-45-67
                          .order-item
                            p.delivery-info Promo-code:
                            p.info
                          .order-item
                            button Receipt of payment
                            button Cancel the order  
                li.dropdown
                  input(type="checkbox")
                  a(href="#" data-toggle="dropdown")
                    .order
                      p 8-229-63794
                      button.btn-status-Received Prepering
                    .date 12.05.2020
                    .price
                      p € 1,420.00
                      p.offer € 1,220.00
                    .count 2
                  ul.dropdown-menu
                    li
                      .main-block
                        h3 Order list
                        .order-block
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 100.00
                              p.offer € 200.00
                            .items
                              p 2
                          .order-item
                            img(src="../media/icon/modal-elem.svg", alt="image")
                            .item-title
                              h4 Body • Leather 
                              h3 Little E — Logo Max White & Black 
                            .item-price
                              p € 200.00
                            .items
                              p 1 
                      .main-block
                        h3.delivery-title Delivery data
                        .order-block
                          .order-item
                            p.delivery-info Receiver first name:
                            p.info Olga
                          .order-item
                            p.delivery-info Receiver last name:
                            p.info Malashkina
                          .order-item
                            p.delivery-info Company name:
                            p.info Pokatilov
                          .order-item
                            p.delivery-info ZIP-code:
                            p.info 
                          .order-item
                            p.delivery-info Country:
                            p.info
                          .order-item
                            p.delivery-info City:
                            p.info   
                          .order-item
                            p.delivery-info Region:
                            p.info
                          .order-item
                            p.delivery-info Address:
                            p.info 6 rue Arsène Houssaye, 8ème 
                          .order-item
                            p.delivery-info Phone number:
                            p.info +7 (925) 123-45-67
                          .order-item
                            p.delivery-info Promo-code:
                            p.info
                          .order-item
                            button Receipt of payment
                            button Cancel the order                                           
                     
                        
 
        .m-col.m-col--3.m-col__lg--2.m-col__ms--1.m-col__mxs--1


      .m-row
        .m-col.m-col--15
          include ../modules/footer   