extends ../layout/main

block variables
    - const pageTitle = 'Our Philosophy'

    mixin asideNav(link,name)
        li
            a(href=link)=name

block content
    include ../modules/header
    include ../modules/modal-menu

    #philosophy-page.inner-page
        .m-container
            .m-row
                .m-col.m-col--3.m-col__lg--3.m-col__ms--2.m-col__mxs--1
                    include ../modules/aside-bar
                .m-col.m-col--9.m-col__lg--10.m-col__ms--11.m-col__mxs--13.m-col__sm--15
                    .inner-content
                        h1 Our Philosophy
                        img(src="./media/image/philosophy.png", alt="image")
                        .inner-block
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            h3 Founders
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .inner-photo
                            .text
                                h3 Thierry de Baschmakoff
                                p A small amount of text describing the personality and what it brings to the brand.
                            img(src="./media/image/founder.png", alt="image")
                        .inner-photo
                            .text
                                h3 Dina Ding
                                p A small amount of text describing the personality and what it brings to the brand.
                            img(src="./media/image/founder2.png", alt="image")



                .m-col.m-col--3.m-col__lg--2.m-col__ms--2.m-col__mxs--1

    include ../modules/footer




