extends ../layout/main

block variables
  - const pageTitle = 'TEST'

block content
  include ../modules/header-white
  include ../modules/modal-menu

  .fullPage__box
    .fullPage.home-text
      .home-text__content
        .m-container.full-height
          .m-row.full-height
            .m-col.m-col--3
              .follow-us
                a.follow-us__link.follow-us__link--dark(href='#') Follow us

            .m-col.m-col--9.m-col__ms--15.full-height
              .home-text__center
                h3.home-text__title.fadeTopAnim Create your own look
                .home-text__desc.fadeTopAnim.fadeTopAnim--second Only you yourself know what exactly you need. We just create tools for this. Do not limit yourself in your choice. Create, combine, experiment. Create your own style

    // image text 1
    .fullPage.image-text
      .image-text__content.full-height
        .m-container.full-height
          .m-row.full-height
            .m-col.m-col--3.m-col__ms-display-none
              .follow-us
                a.follow-us__link.follow-us__link--dark(href='#') Follow us

            .m-col.m-col--2.m-col__ms--7.full-height
              .image-text__imgs.image-text__imgs--double
                img.image-text__img.image-text__img--1.fadeAnim(src='./media/image/img-1.png')
                img.image-text__img.image-text__img--2.fadeAnim(src='./media/image/img-2.png')
            .m-col.m-col--4.m-col__ms--8.full-height
              .image-text__imgs.image-text__imgs--single
                img.image-text__img.image-text__img--3.fadeAnim(src='./media/image/img-3.png')
            .m-col.m-col--5.m-col__ms--15.full-height
              .image-text__text
                .image-text__title.fadeTopAnim.fadeTopAnim--delay Select everything
                .image-text__desc.fadeTopAnim.fadeTopAnim--delay-second
                  p Choose several combinations to stay unique and vibrant in any situation.
                  p It does not matter what situations occur during the day. Whether it's a date, playing sports, or meeting friends.
                  p Are you ready for any situation with ELBA bags?

    // image text 2
    .fullPage.image-text
      .image-text__content.full-height
        .m-container.full-height
          .m-row.full-height
            .m-col.m-col--3.m-col__ms-display-none
              .follow-us
                a.follow-us__link.follow-us__link--dark(href='#') Follow us

            .m-col.m-col--6.m-col__ms--15.full-height
              .image-text__imgs.image-text__imgs--big.image-text__imgs--big-2
                img.image-text__img.image-text__img--4.fadeAnim(src='./media/image/img-4.png')
            .m-col.m-col--5.m-col__ms--15.full-height
              .image-text__text
                .image-text__title.fadeTopAnim.fadeTopAnim--delay Just 10 seconds
                .image-text__desc.fadeTopAnim.fadeTopAnim--delay-second
                  p Choose the shape of the bag. With one set, you can coordinately change the shape of the bag in 5 seconds.
                  p The minimum storage space will allow you to change as soon as such a need arose.