extends ../layout/main

block variables
    - const pageTitle = 'Search'

block content
    include ../modules/search-nav
    #search-page.inner-page
        .m-container
            .m-row
                .m-col.m-col--3
                .m-col.m-col--9
                    h1.visability-title Catalog
                    h2.hidden-title Search results for “#[span.inner-inp]”
                .m-col.m-col--3
            .m-row
                .m-col.m-col--15





