extends ../layout/main

block variables
  - const pageTitle = 'ELBA'

block content
  include ../modules/header

  .fullPage.shape
    .shape__content.full-height
      .m-container.full-height
        .m-row.full-height
          .m-col.m-col--3
            .follow-us
              a.follow-us__link.follow-us__link--dark(href='#') Follow us

          .m-col.m-col--5
            .shape__text-wrapper
              .shape__text.shape__text--active
                .shape__padding
                p We believe in the power of the individual. old soul, young at heart, a stunning spectrum of color.
                p Born this way, identify another way, you love who you love. From here, from there, from a distant planet.
                p Free spirit, firmly grounded, rebellious, harmonious. shaped by your past, driven by your future. no box can hold you.
                p No label can define you. You are one and you are everything.
                p Long live the individual.
          .m-col.m-col--7
            .shape__wrapper.m-container
              .shape__imgs
                img.shape__img.shape__img--1(src='./media/image/shape1.png')
                img.shape__img.shape__img--2(src='./media/image/shape2.png')
                img.shape__img.shape__img--3(src='./media/image/shape3.png')
                img.shape__img.shape__img--4(src='./media/image/shape4.png')
                img.shape__img.shape__img--5(src='./media/image/shape5.png')
                img.shape__img.shape__img--6(src='./media/image/shape6.png')
                img.shape__img.shape__img--7(src='./media/image/shape7.png')
                img.shape__img.shape__img--8(src='./media/image/shape4.png')
                .shape__circle.shape__circle--1
                .shape__circle.shape__circle--2
                .shape__circle.shape__circle--3
                .shape__circle.shape__circle--4
                .shape__circle.shape__circle--5
                .shape__circle.shape__circle--6
                .shape__circle.shape__circle--7
                .shape__circle.shape__circle--8
                .shape__circle.shape__circle--9
                .shape__circle.shape__circle--10
                .shape__circle.shape__circle--11
                .shape__circle.shape__circle--12
                .shape__circle.shape__circle--13
                .shape__circle.shape__circle--14
                .shape__circle.shape__circle--15
                .shape__circle.shape__circle--16