extends ../layout/main

block variables
  - const pageTitle = 'Our materials'

  mixin asideNav(link,name)
    li
      a(href=link)=name

block content

  h1 1
  .test-poster.test-poster-1
  h1 2
  .test-poster.test-poster-2
  h1 3
  .test-poster.test-poster-3
  h1 4
  .test-poster.test-poster-4
  h1 5
  .test-poster.test-poster-5
  h1 6
  .test-poster.test-poster-6
  h1 6
  .test-poster.test-poster-7
  h1 8
  .test-poster.test-poster-8
  h1 9
  .test-poster.test-poster-9
  h1 10
  .test-poster.test-poster-10
  h1 11
  .test-poster.test-poster-11
  h1 12
  .test-poster.test-poster-12
  h1 13
  .test-poster.test-poster-13
  h1 14
  .test-poster.test-poster-14
  h1 15
  .test-poster.test-poster-15
  h1 16
  .test-poster.test-poster-16





