#factory-page {
	background: #F8F8F8;
	.factory-content {
			.factory-photo {
					.text {
						align-self: flex-start;
					}
					p {
						max-width: 557px;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 28px;
						color: #565B62;
					}
			}
			.factory-block {
				h2 {
					font-style: normal;
					font-weight: 600;
					font-size: 28px;
					line-height: 40px;
					color: #000;
					margin: 32px 0 64px;
					text-align: left;
					width: 100%;
					max-width: 557px;
				}
			}
			.inner-block {
				.slider-text {
					align-self: flex-start;
					max-width: 263px;
					flex: 1;
					transform: translateY(-110px);
					position: absolute;
					p {
						font-family: Inter;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 24px;
						color: #7D838A;
					}
				}
			}
	}
}