#comunity-page {
	.inner-content {
		.inner-block p {
			margin-bottom: 64px;
		}

		.inner-block h3 {
			margin-bottom: 64px;
		}

		.inner-photo {
			.text {
				h3 {
					margin-bottom: 8px;
				}

				p {
					margin-bottom: 40px;
				}
			}
		}
	}
}