#filter-page,
#detail-page {
  display: none;
  z-index: 500;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: auto;

  .filter-back {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    img {
      margin-right: 16px;
    }
  }
}

#filter-page,
#detail-page,
.search {
    background: #FFFFFF;
    width: 100%;
    .filter-nav {
        width: 100%;
        border-bottom: 1px solid #E4E8EB;
        margin-bottom: 40px;
        .filter-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 0;
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #1F1F22;
                display: flex;
                flex-direction: row-reverse;
                img {
                  width: 24px;
                  height: 24px;
                  margin-right: 14px;
                }
            }
        }
    }
    .aside-catalog {
      .dropdown {
        max-width: 300px;
        h3 {
          font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        color: #1F1F22;
        margin-bottom: 20px;
        }
        .dropdown-menu {
          max-height: none;
        }
      }
    }
    .btn-wrap {
      display: flex;
      justify-content: center;
      border-top: 1px solid #E4E8EB;
      .btn-item {
        flex: 50%;
        display: flex;
        button {
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #1F1F22;
          flex: 50%;
          padding: 15px 0;
          display: flex;
          justify-content: center;
          border:none;
          background-color: transparent;
          transition: .4s;
        }

        button:hover {
          background: #1F1F22;
          color: #fff;
        }
      }
    }
}