.modal-menu {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 55;
  background-color: #fff;
  padding: 80px 0 32px;
  overflow: auto;
  transition: all .6s;
  opacity: 0;

  &__back {
    position: fixed;
    width: 100%;
    top: 49px;
    left: 0;
    z-index: 64;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F22;
    padding: 12px 24px 12px 59px;
    border-bottom: 1px solid #E4E8EB;

    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 12px;
      @include base-background(contain);
      top: 50%;
      margin-top: -6px;
      left: 24px;
      background-image: url(../media/icon/arrow-back.svg);
    }
  }

  &--inner {
    padding: 104px 0 32px;
    z-index: -1;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1F1F22;
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
    color: #565B62;
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 36px;

    .item {
      width: 100%;
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;
      padding: 16px 0;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #1F1F22;
        opacity: 0.1;
        bottom: 0;
        left: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
      
      &--inner {
        position: relative;
        &::before {
          content: '';
          display: block;
          background-image: url(../media/icon/inner-arrow.svg);
          @include base-background(contain);
          width: 6px;
          height: 12px;
          background-color: transparent;
          opacity: 1;
          position: absolute;
          top: 50%;
          margin-top: -6px;
          right: 0;
        }
      }
    }
  }

  &__langs {
    display: flex;
    width: 100%;

    .item {
      width: 100%;
      height: 40px;
      min-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #1F1F22;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;

      &--active {
        background: #1F1F22;
        color: #fff;
      }
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }
}