.m-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: lightpink;
  height: 100px;
}

.m-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}


.m-col {
  width: 100%;
  max-width: 100%;
  padding: 0 16px;

  &--1 {
    max-width: calc(100% / 15 * 1)
  }

  &--2 {
    max-width: calc(100% / 15 * 2)
  }

  &--3 {
    max-width: calc(100% / 15 * 3)
  }

  &--4 {
    max-width: calc(100% / 15 * 4)
  }

  &--5 {
    max-width: calc(100% / 15 * 5)
  }

  &--6 {
    max-width: calc(100% / 15 * 6)
  }

  &--7 {
    max-width: calc(100% / 15 * 7)
  }

  &--8 {
    max-width: calc(100% / 15 * 8)
  }

  &--9 {
    max-width: calc(100% / 15 * 9)
  }

  &--10 {
    max-width: calc(100% / 15 * 10)
  }

  &--11 {
    max-width: calc(100% / 15 * 11)
  }

  &--12 {
    max-width: calc(100% / 15 * 12)
  }

  &--13 {
    max-width: calc(100% / 15 * 13)
  }

  &--14 {
    max-width: calc(100% / 15 * 14)
  }

  &--15 {
    max-width: calc(100% / 15 * 15)
  }
}