.m-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.m-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}


.m-col {
  width: 100%;
  max-width: 100%;
  padding: 0 16px;

  &--1 {
    max-width: calc(100% / 15 * 1)
  }

  &--2 {
    max-width: calc(100% / 15 * 2)
  }

  &--3 {
    max-width: calc(100% / 15 * 3)
  }

  &--4 {
    max-width: calc(100% / 15 * 4)
  }

  &--5 {
    max-width: calc(100% / 15 * 5)
  }

  &--6 {
    max-width: calc(100% / 15 * 6)
  }

  &--7 {
    max-width: calc(100% / 15 * 7)
  }

  &--8 {
    max-width: calc(100% / 15 * 8)
  }

  &--9 {
    max-width: calc(100% / 15 * 9)
  }

  &--10 {
    max-width: calc(100% / 15 * 10)
  }

  &--11 {
    max-width: calc(100% / 15 * 11)
  }

  &--12 {
    max-width: calc(100% / 15 * 12)
  }

  &--13 {
    max-width: calc(100% / 15 * 13)
  }

  &--14 {
    max-width: calc(100% / 15 * 14)
  }

  &--15 {
    max-width: calc(100% / 15 * 15)
  }
}

// 1500 lg
@media (max-width: 1500px) {
  .m-container {
    max-width: 1200px;
  }

  .m-col__lg {
    &--1 {
      max-width: calc(100% / 15 * 1)
    }

    &--2 {
      max-width: calc(100% / 15 * 2)
    }

    &--3 {
      max-width: calc(100% / 15 * 3)
    }

    &--4 {
      max-width: calc(100% / 15 * 4)
    }

    &--5 {
      max-width: calc(100% / 15 * 5)
    }

    &--6 {
      max-width: calc(100% / 15 * 6)
    }

    &--7 {
      max-width: calc(100% / 15 * 7)
    }

    &--8 {
      max-width: calc(100% / 15 * 8)
    }

    &--9 {
      max-width: calc(100% / 15 * 9)
    }

    &--10 {
      max-width: calc(100% / 15 * 10)
    }

    &--11 {
      max-width: calc(100% / 15 * 11)
    }

    &--12 {
      max-width: calc(100% / 15 * 12)
    }

    &--13 {
      max-width: calc(100% / 15 * 13)
    }

    &--14 {
      max-width: calc(100% / 15 * 14)
    }

    &--15 {
      max-width: calc(100% / 15 * 15)
    }
  }
}

// 1260 md
@media (max-width: 1260px) {
  .m-container {
    max-width: 991px;
  }

  .m-col__md {
    &--1 {
      max-width: calc(100% / 15 * 1)
    }

    &--2 {
      max-width: calc(100% / 15 * 2)
    }

    &--3 {
      max-width: calc(100% / 15 * 3)
    }

    &--4 {
      max-width: calc(100% / 15 * 4)
    }

    &--5 {
      max-width: calc(100% / 15 * 5)
    }

    &--6 {
      max-width: calc(100% / 15 * 6)
    }

    &--7 {
      max-width: calc(100% / 15 * 7)
    }

    &--8 {
      max-width: calc(100% / 15 * 8)
    }

    &--9 {
      max-width: calc(100% / 15 * 9)
    }

    &--10 {
      max-width: calc(100% / 15 * 10)
    }

    &--11 {
      max-width: calc(100% / 15 * 11)
    }

    &--12 {
      max-width: calc(100% / 15 * 12)
    }

    &--13 {
      max-width: calc(100% / 15 * 13)
    }

    &--14 {
      max-width: calc(100% / 15 * 14)
    }

    &--15 {
      max-width: calc(100% / 15 * 15)
    }
  }
}

// 1060 ms
@media (max-width: 1060px) {
  .m-container {
    max-width: calc(100% - 48px);
  }

  .m-col__ms {
    &--1 {
      max-width: calc(100% / 15 * 1)
    }

    &--2 {
      max-width: calc(100% / 15 * 2)
    }

    &--3 {
      max-width: calc(100% / 15 * 3)
    }

    &--4 {
      max-width: calc(100% / 15 * 4)
    }

    &--5 {
      max-width: calc(100% / 15 * 5)
    }

    &--6 {
      max-width: calc(100% / 15 * 6)
    }

    &--7 {
      max-width: calc(100% / 15 * 7)
    }

    &--8 {
      max-width: calc(100% / 15 * 8)
    }

    &--9 {
      max-width: calc(100% / 15 * 9)
    }

    &--10 {
      max-width: calc(100% / 15 * 10)
    }

    &--11 {
      max-width: calc(100% / 15 * 11)
    }

    &--12 {
      max-width: calc(100% / 15 * 12)
    }

    &--13 {
      max-width: calc(100% / 15 * 13)
    }

    &--14 {
      max-width: calc(100% / 15 * 14)
    }

    &--15 {
      max-width: calc(100% / 15 * 15)
    }
  }

  .m-col__ms-display-none {
    display: none;
    max-width: 1px;
    visibility: hidden;
  }

  .m-order__ms--first {
    order: 1;
  }

  .m-order__ms--last {
    order: 2;
  }

  .m-order__ms--2 {
    order: 2;
  }

  .m-order__ms--3 {
    order: 3;
  }
}

// 800 mxs
@media (max-width: 800px) {
  .m-container {
    max-width: calc(100% - 48px);
  }

  .m-col__mxs {
    &--1 {
      max-width: calc(100% / 15 * 1)
    }

    &--2 {
      max-width: calc(100% / 15 * 2)
    }

    &--3 {
      max-width: calc(100% / 15 * 3)
    }

    &--4 {
      max-width: calc(100% / 15 * 4)
    }

    &--5 {
      max-width: calc(100% / 15 * 5)
    }

    &--6 {
      max-width: calc(100% / 15 * 6)
    }

    &--7 {
      max-width: calc(100% / 15 * 7)
    }

    &--8 {
      max-width: calc(100% / 15 * 8)
    }

    &--9 {
      max-width: calc(100% / 15 * 9)
    }

    &--10 {
      max-width: calc(100% / 15 * 10)
    }

    &--11 {
      max-width: calc(100% / 15 * 11)
    }

    &--12 {
      max-width: calc(100% / 15 * 12)
    }

    &--13 {
      max-width: calc(100% / 15 * 13)
    }

    &--14 {
      max-width: calc(100% / 15 * 14)
    }

    &--15 {
      max-width: calc(100% / 15 * 15)
    }
  }

  .m-col__mxs-display-none {
    display: none;
    max-width: 1px;
    visibility: hidden;
  }

  .m-order__mxs--first {
    order: 1;
  }

  .m-order__mxs--last {
    order: 2;
  }
}

// 575 sm
@media (max-width: 575px) {
  .m-container {
    max-width: calc(100% - 48px);
  }

  .m-row {
    display: flex;
    flex-wrap: wrap;
  }

  .m-col__sm {
    &--1 {
      max-width: calc(100% / 15 * 1)
    }

    &--2 {
      max-width: calc(100% / 15 * 2)
    }

    &--3 {
      max-width: calc(100% / 15 * 3)
    }

    &--4 {
      max-width: calc(100% / 15 * 4)
    }

    &--5 {
      max-width: calc(100% / 15 * 5)
    }

    &--6 {
      max-width: calc(100% / 15 * 6)
    }

    &--7 {
      max-width: calc(100% / 15 * 7)
    }

    &--8 {
      max-width: calc(100% / 15 * 8)
    }

    &--9 {
      max-width: calc(100% / 15 * 9)
    }

    &--10 {
      max-width: calc(100% / 15 * 10)
    }

    &--11 {
      max-width: calc(100% / 15 * 11)
    }

    &--12 {
      max-width: calc(100% / 15 * 12)
    }

    &--13 {
      max-width: calc(100% / 15 * 13)
    }

    &--14 {
      max-width: calc(100% / 15 * 14)
    }

    &--15 {
      max-width: calc(100% / 15 * 15)
    }
  }
}