.pageNotFound-wrap {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 100px;
  .pageNotFound-content {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    img {
      object-fit: cover;
      object-position: center;
      width: 664px;
      margin-bottom: 64px;
    }
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
      text-align: center;
      color: #000000;
      margin-bottom: 24px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #565B62;
      margin-bottom: 32px;
    }
    button {
      background: #1F1F22;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 14px 30px;
      border: none; 
      max-width: 180px;
      margin: 0 auto;
      transition: .4s;
    }
    button:hover {
      background-color: #565B62;
    }
  }
}
