.basket-wrap {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  max-width: 393px;
  position: absolute;
  top: 72px;
  right: 0;
  padding: 0 16px 32px;
  display: none;
  transition: .5s;
  animation-name: signIn;
  animation-duration: .5s;
  padding-top: 32px;
  .basket-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D0D7DD;
    padding-bottom: 24px;
    margin-bottom: 36px;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #1F1F22;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      color: #1F1F22;
    }
  }
  .basket-block {
    display: flex;
    flex-direction: column; 
    height: 450px;
    overflow: hidden;
    margin-bottom: 24px;
    .busket-item {
      display: flex;
      margin-bottom: 14px;
      img {
        width: 100px;
        height: 100px;
        object-position: center;
        object-fit: cover;
        margin-right: 32px;
      }
      .item {
        max-width: 197px;
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #1F1F22;
          opacity: 0.3;
        }
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #1F1F22;
        }
        P {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #1F1F22;
        }
      }
    }
  }
  button {
    background-color: #1F1F22;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
    border: none;
    padding: 10px 0;
  }
}
.basket-wrap.active {
  display: block;
}

@keyframes signIn {
  0% {
  opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}