

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 
body {
  background: #F8F8F8;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  span { 
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
p {
  // margin-top: 200px;
  a {
    text-transform: uppercase; 
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px; 
    background-color: darken($select-background, 2);  
    
    &:hover {
      background-color: darken($select-background, 5);
    }
  }
}
.select-hidden {
  display: none;
  visibility: hidden; 
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: 130px;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 16px;
  border-bottom: 2px solid #1F1F22;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #565B62;

  &:after {
    content:"";
    width: 9px;
    height: 6px;
    background-image: url(../../../media/icon/select-arrow.svg);
    background-position: center;
    background-size: cover;
    
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
   
  }
  &:active, &.active {
  
    &:after {
     transform: rotate(180deg);
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  max-height: 340px;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1px;
    background: transparent;
    border-radius: 8px;
    opacity: 1;
    visibility: visible;
    transition: all .3s;
    //border-right: 8px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    margin: 0 30px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1F1F22;
    visibility: visible;
    transition: all .3s;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }


  li {
    margin: 0;
    padding: 16px 0;
    text-indent: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #1F1F22;
   
    &:hover {
      background: #F2F4F7;
      color: #565B62;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}