#yourbag {
  .account-back {
    padding-left: 35px;
    top: 135px;
  }

  .account-back:after {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
    
  }
  .paynow-title {
    margin-top: 40px;
    margin-bottom: 81px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #1F1F22;
  }
  .paynow-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: static;
    top: 135px;
    background-color: #fff;
    padding: 32px 32px 0;
    height: auto;
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
     
      h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #565B62;
       
      }
      div {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: right;
        color: #1F1F22;
      }
      
    }
    & .item:nth-child(3) {
      border-bottom: 1px solid #D0D7DD; 
      padding-bottom: 24px;
    }
    
    p {
      position: absolute;
      bottom: -56px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #7D838A;
    }
    
  }
  .promo {
    border-bottom: 1px solid #d0d7dd;
    padding-bottom: 24px;
  }
  .payblock-btn {
    button {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #1F1F22;
      border: none;
      display: flex;
      justify-content: center;
      padding: 14px 0;
      justify-content: center;
      position: static;
      bottom: 1px;
      left: 0;
      width: 100%;
      transition: .4s;
      margin-bottom: 24px;
    }
    button:hover {
      background-color: #565B62;
    }
    .promocode { 
      bottom: -78px;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;
      border: 1px solid #1F1F22;
      background-color: transparent; 
      transition: .4s;
    }
    .promocode:hover {
      color: #565B62;
      border: 1px solid #565B62;
      transition: .4s;
      background-color: transparent;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #7D838A;  
    }
    .enter-promocod {
      padding: 32px;
      position: relative;
      border: 1px solid #D0D7DD;
      margin-bottom: 24px;
      display: none;
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        color: #1F1F22;
        margin-bottom: 24px;
      }
      .promocod-closes {
        background: url(../../../media/icon/modal-close.svg);
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 34px;
        right: 32px;
        cursor: pointer;
        filter: invert(1);
      }
      input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #1F1F22;
        padding-bottom: 8px;
        margin-bottom: 32px;
      }
      input::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #7D838A;
       
      }
      button {
        bottom: -78px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1F1F22;
        border: 1px solid #1F1F22;
        background-color: transparent; 
      }
      button:hover {
        color: #565B62;
        border: 1px solid #565B62;
        transition: .4s;
        background-color: transparent;
      }
    }
  }
  .inner-content {
    max-width: 710px;
    margin: 0 auto;
    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 68px;
      color: #000000;
    }
    .cart-wrap {
      display: flex;
      flex-direction: column;
      .cart-item {
        display: flex;
        position: relative;
        padding-bottom: 24px;
        padding-top: 24px;
        .cartcaption {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          text-transform: uppercase; 
          color: #B2B8BF;
          text-transform: uppercase;
        }
        & .cartcaption:nth-child(1) {
          width: 95px;
        }
        & .cartcaption:nth-child(2) {
          width: 164px;
        }
        & .cartcaption:nth-child(3) {
          width: 110px;
        }
        & .cartcaption:nth-child(4) {
          width: 171px;
        }
        & .cartcaption:nth-child(1) {
          width: 95px;
        }
        .empty {
          visibility: hidden;
        }
        .cart-block {
          display: flex;
          align-items: center;
          img {
            width: 68px;
            height: 68px;
            object-position: center;
            object-fit: cover;
            margin-bottom: 0;
            margin-right: 31px;
          }
          .item-title {
            max-width: 169px;
            margin-right: 9px;
            h4 {
              font-style: normal;
              font-weight: 500;
              font-size: 10px;
              line-height: 16px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #1F1F22;
              opacity: 0.3;
            }
            h3 {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #1F1F22;
            }
          }
          .item-price,
          .subtotal {
            margin-right: 39px;
            width: 80px;
            p {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #1F1F22;
            }
            .offer {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              text-decoration-line: line-through;
              color: #7D838A;
              text-decoration: line-through; 
            }
          }
          .dlt-item {
            width: 24px;
            height: 24px; 
          }
          .quantity {
            display: flex;
            align-items: center;
            justify-content: center; 
            margin-right: 50px;
           p {
            font-style: normal; 
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #1F1F22;
            margin: 0 15px;
           }
            div {
              color:  #1F1F22;
              width: 40px;
              height: 40px;
              border: 1px solid #B2B8BF;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 32px;
              cursor: pointer;
            }
          }
        }
        .card-mobile {
          display: none;
        }
        .line {
          border-bottom: 1px solid #d0d7dd;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1px;
          max-width: 556px;
          margin: 0 auto;
          left: 50%;
          transform: translateX(-50%);
          
        }
      }
    }
  }
}

// modal
.sign-in2-overlay,
.sign-in3-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  .sign-in2-modal{
    padding: 64px;
    display: flex;
    max-width: 980px;
    position: relative;
    background-color: #fff;
    .sign-in2-close{
      background: url(../../../media/icon/modal-close.svg);
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: -60px;
      cursor: pointer;
    }
    .sign-in2-item {
      flex: 1;
      h2,h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: #1F1F22;
        margin: 0px 0 16px;
      }
      h4 {
        margin-top: 52px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #7D838A;
        margin-bottom: 32px;
      }
      button {
        background: #1F1F22;
        border: none;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        padding: 14px 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: .4s;
      }
      button:hover {
        background-color: #565B62;
      }
      #sign_in {
        input {
          width: 100%;
          border: none;
          border-bottom: 1px solid #565B62;
          padding-bottom: 12px;
          padding-top: 11px;
        }
        input::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px; 
          color: #7D838A;
        }
        .inp-block {
          display: flex;
          position: relative;
          border-bottom: 1px solid #565B62;
          padding-bottom: 8px;
          input {
            padding-top: 27px;
            padding-bottom: 0;
          }
          h3 {
            align-self: flex-end;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #1F1F22;
            cursor: pointer;
          }
          .option-input {
            appearance: none;
            position: relative;
            height: 24px;
            width: 24px;
            transition: all 0.15s ease-out 0s;
            background: #F8F8F8;
            border: 1px solid #E4E8EB;
            color: #fff;
            cursor: pointer;
            margin-right: 16px;
            outline: none;
            position: relative;
            z-index: 10;
            margin-left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0;
            margin-top: 32px;
           border-radius: 2px;
          }
          .option-input:hover {
            border: 1px solid #B2B8BF;
          }
    
          .option-input:checked {
            background: #1F1F22;
          }
    
          .option-input:checked::before {
            height: 8px;
            width: 10px;
            position: absolute;
            content: '';
            background-image: url(../../../media/icon/check.svg); 
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            
          }
        }
        .inp-check {
          margin-bottom: 24px;
          border: none;
          h3 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #7D838A;
            cursor: default;
          }
        }
      } 
    }
    & .sign-in2-item:last-child {
      margin-left: 128px;
    }
    .sign_img {
      background-image: url(../../../media/image/promo.svg);
      background-position: center;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 220px;
        margin-right: 32px;
      }
      button {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #1F1F22;
        border: none;
        background-color: #fff;
        padding: 14px 35px;
        margin-right: 65px;
      }
    }
  }
}
.sign-in3-overlay {
  .sign-in2-modal{
    .sign-in2-item{
      margin-bottom: 128px;
    }
  }
}