@media (max-width: 1060px) {
  @media (max-width: 1260px) {
    // header
    .header {
     border-bottom: 1px solid #E4E8EB;
    }

    .header__logo {
      margin-right: 50px;
    }

    .header__lang {
      margin-right: 50px;
    }
    // header end
  }

  // follow us
  .follow-us {
    display: none;
  }
  // follow us end

  // home about
  .home-about,
  .blog {
    .fadeTopAnim {
      opacity: 1 !important;
      transform: translateY(0);
    }
  }

  .home-about__container {
    &::after {
      display: none;
    }
  }

  .home-about__container {
    .top-line,
    .bot-line {
      width: 100%;
      left: 0;
    }
  }
  // home about end

  // header
  .header {
    background: #F8F8F8;

    * {
      filter: none;
    }

    &__mobile {
      display: flex;
      width: 100%;
      height: 48px;
      position: relative;
      z-index: 100;
      align-items: center;
      justify-content: space-between;

      .menu {
        @include base-box(24px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: all .6s;

        .item {
          width: 100%;
          height: 1px;
          background: #1F1F22;

          &:first-child {
            margin-bottom: 6px;
          }
        }

        &--show {
          .item {
            &:first-child {
              transform: rotateZ(45deg) translateY(4.5px);
            }

            &:last-child {
              transform: rotateZ(-45deg) translateY(-4.5px);
            }
          }
        }
      }

      .mobile-button {
        @include base-box(24px);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .mobile-close-modal {
        background-image: url(../../media/icon/Close-Mobile.svg);
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px; 
        display: none;
      }
      .mobile__link {
        display: block;
        width: 26px;
        height: 32px;
        background-image: url(../media/icon/mobile-logo.svg);
        @include base-background(contain)
      }
    }

    &__wrapper {
      display: none;
    }
  }
  // header end

  // home-first
  .home-first__content {
    height: 100%;
    padding-bottom: 32px;
    position: relative;
  }

  .home-first__top {
    display: none;
  }

  .home-first__navigation {
    display: none;
  }

  .home-first__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }

  .home-first__desc {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
  }

  .home-first__dots {
    display: flex;
    align-items: center;
    position: absolute;
    top: 81px;
    left: 24px;

    .dot {
      @include base-box(8px);
      border-radius: 50%;
      background: #FFFFFF;
      opacity: 0.3;
      margin-right: 12px;
      transition: all .6s;

      &:last-child {
        margin-right: 0;
      }

      &--active {
        opacity: 1;
      }
    }
  }
  // home-first end

  // shape
  .shape__wrapper {
    padding-top: 0;
  }

  .shape--animation {
    .shape__imgs {
      //animation: .6s ease-in 3.6s forwards img-anim-mobile;
    }
  }
  // shape end

  // list
  .list {
    max-height: max-content;
    height: max-content;

    &__content {
      max-height: max-content;
      height: max-content;
    }
  }

  .list__text-fixed {
    display: none;
  }

  .list__mobile-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 80px;
  }

  .list__col {
    padding-top: 0;
  }

  .list__col-wrapper {
    height: auto;
    max-height: 100%;
    padding-bottom: 42px;

    .list__item {
      .img__block {
        max-height: 124px;
      }
    }

    .list__col--2 {
      .list__item {
        .img__block {
          max-height: 124px;
          min-height: 124px;
        }
      }
    }
  }
  // list end

  // event
  .fullPage-wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: auto;
    transition: 1s ease-in-out;
    left: 0;
    top: 0;

    .fullPage {
      position: relative;
      height: auto;
      background: #f8f8f8;
    }

    &--active {
      z-index: 50;

      .fullPage {
        z-index: 51 !important;
        opacity: 1 !important;
      }
    }
  }

  //.event {
  //  position: relative;
  //  height: auto;
  //}

  .event__video-wrapper {
    padding-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  .event__mobile-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 20px;
  }

  .event__video-block {
    width: 272px;
    margin: 0 auto;

    .play {
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px;
      background-size: 13.33px;
    }
  }

  .event__video {
    width: 100%;
    height: 100%;
  }

  .event__title {
    display: none;
  }

  .event__text {
    .text__bottom {
      height: auto;
      margin-top: 0;
    }
  }

  .event__desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .event__content {
    padding-bottom: 64px;
  }
  // event end

  // blog
  .blog__content {
    padding-bottom: 32px;
  }

  .blog__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
    margin-top: 80px;
  }
  // blog end

  // second home block
  .image-text__imgs--big-2 {
    max-height: 50%;
    justify-content: center;
  }

  .image-text__img {
    transform: none;
    width: 100%;
    height: auto;
    opacity: 1;

    &--1 {
      margin-left: -20px;
    }

    &--4 {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .image-text__text {
    transition: all .9s;
    transition-delay: .8s;
    transform: translateY(-100%);
    height: max-content;
  }

  .fullPage--active {
    .image-text__img {
      opacity: .2;

      &--4 {
        opacity: 1;
      }
    }
  }
  // second home block end

  // philosophy page 
  .inner-page {
    .aside-bar{
      display: none;
    }
  }
// NEWS PAGE 
  #news {
    .aside-bar{
      display: none; 
    }
  }
  // blog page
  #blog-page {
    .inner-btn{
      font-size: 11px;
    }
  }
// footer
  .footer {
    .home-about {
        .home-about__content {
            .home-about__container {
            }
            .home-about__container:before {
                content: '';
                display: none;
            }
        }
        
    }
  }
 // CHECKOUT
  #checkout {
    .account-back {
      position: absolute;
      top: 0;
      border-bottom: 1px solid #e4e8eb;
      width: 100%;
      left: 0;
      padding-bottom: 12px;
      padding-top: 12px;
      padding-left: 64px;
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
    }
    .inner-photo {
      input {
        max-width: none!important; 
      }
      .birth-block {
        max-width: none!important;
      }
      .method_type {
        max-width: none!important;
      }
    }
    .account-back:after {
      left: 24px;
    } 
    .footer {
      display: none;
    }
    .paynow-wrap {
      max-width: 750px;
      margin: 0 auto;
    }
    & .inner-content:last-child {
      margin-bottom: 0;
    }
  }
     // modal SIGN IN
  .sign_in-wrap,
  .basket-wrap,
  .log_out { 
    top: 48px;  
  }

  .fix-close-img {
    background-image: url(../media/icon/close-modal.svg) !important;
  }
}

@keyframes img-anim-mobile {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}