@media screen and (max-width: 1199px) {
  // MODAL CATALOG
  .catalog-overlay {
    .catalog-close {
      right: 0;
      top: -60px;
    }
    .catalog-modal {
      padding: 20px 0;
      .catalog-item {
        .img-main{
          margin-left: 20px;
        }
      }
      .catalog-item.catalog-item:nth-child(2) {
        padding-left: 20px;

      }
    }
  }
}