@media (max-width: 1260px) {
  // header
  .header__logo {
    margin-right: 100px;
  }

  .header__lang {
    margin-right: 110px;
  }
  // header end

  // list
  .list__item {
    .img__block {
      img {
        min-width: 100px;
        width: 100px;
        height: 100px;
      }
    }
  }
  // list end

  // event
  .event__video-block{
    &::after {
      width: 156px;
      height: 156px;
      margin-top: -78px;
      margin-left: -78px;
    }
  }
  // event end

  // home about
  .home-about__big-block  {
    .name {
      font-size: 24px;
    }

    .desc {
      font-size: 14px;
      line-height: 24px;
    }
  }
  // home about end
}