@media (max-width: 1260px) {
  // header
  .header__logo {
    margin-right: 100px;
  }

  .header__lang {
    margin-right: 110px;
  }
  // header end

  // list
  .list__item {
    .img__block {
      img {
        min-width: 100px;
        width: 100px;
        height: 100px;
      }
    }
  }
  // list end

  // event
  .event__video-block{
    &::after {
      width: 156px;
      height: 156px;
      margin-top: -78px;
      margin-left: -78px;
    }
  }
  // event end

  // home about
  .home-about__big-block  {
    .name {
      font-size: 24px;
    }

    .desc {
      font-size: 14px;
      line-height: 24px;
    }
  }
  // home about end

  // home text img
  .image-text__title {
    font-size: 44px;
  }

  .image-text__img {
    transform: scale(.7);
  }
  // home text img end

   // philosophy page 
   .inner-page {
    .inner-content{
      .inner-block {
        align-items: flex-start;
      }
      .inner-photo{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        max-height: none;
        margin-bottom: 50px;
        img {
          margin-bottom: 15px;
        }
        .text {
         
          align-self: flex-start;
        }
      }
    }
  }
  // factory page
  #factory-page {
    .factory-content {
      .factory-photo {
        flex-direction: column!important;
      }
    }
  }

// blog page
  #blog-page {
    h1 {
      font-size: 45px;
    }
    .inner-content {
     
      .gallery {
        align-items: center;
        img {
          margin-bottom: 20px!important;
        }
        .gallery-item {
          align-self: center;
        }
      }
    }
  }
  // concept-page
  #concept-page {
    .inner-content {
      .inner-block {
        .concept-btn {
          padding-left: 0;
        }
      }
    }

  }
  // page materials
  .materials-table {
    .table-row {
      & p:last-child {
        margin-left: 40px!important;
      }
    }
  } 
}