@media screen and (max-width: 575px) {
  // main modal
  .main-modal__body {
    .modal-desc__text {
      flex-direction: column;
    }

    .modal-form {
      .modal-submit {
        width: 100%;
      }
    }
  }
  // main modal end

  // first block
  .home__first {
    .first__wrapper {
      .first__title {
        font-size: 22px;
        line-height: 26px;
      }
    }

    .first__buttons {
      margin-top: 35px;

      &:last-child {
        margin-top: 0;
      }

      .first__button {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 12px;
      }
    }
  }
  // first block end

  // preluder
  .prelouder {
    .prelouder-logo {
      width: 222px;
      height: 71px;
    }
  }
  // preluder end

  // home man
  .home-man__about {
    min-width: 100%;
  }
  // home man end
}