@media screen and (max-width: 575px) {
  // shape
  .shape__text {
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }
  // shape end
  // inner  pages 
  .inner-page,
  #philosophy-page,
  #comunity-page,
  #materials-page,
  #concept-page,
  #factory-page {
    padding-top: 80px;
    .inner-content{
      margin-bottom: 64px;
      h1 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      img {
        margin-bottom: 15px;
        height: 100%;
      }
      .inner-block {
        align-items: flex-start;
        margin-bottom: 0;
        p {
          font-size: 14px;
          // margin-bottom: 30px;
          line-height: 24px;
        }
        h3 {
          margin-bottom: 44px;
        }
      }
      .inner-photo{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        max-height: none;
        margin-bottom: 0px;
        img {
          margin-bottom: 15px;
        }
        .text {
         
          align-self: flex-start;
        }
         P {
          line-height: 24px;
          font-size: 14px;
         }
      }
    }
  }
  #concept-page .inner-content img {
    height: 100%;
    margin: 24px 0!important;
  }
  .inner-page .inner-content .inner-block h3,
  #factory-page .factory-content .factory-block h2,
  #blog-page .inner-content .inner-block h4 {
    font-size: 20px;
    line-height: 32px;
    margin: 64px 0 24px!important;
  }
  #philosophy-page .inner-content {
    .inner-photo P {
      margin-bottom: 32px;
    }
    .inner-block p {
      margin-bottom: 32px;
    }
  }
  #comunity-page .inner-content .inner-photo img {
    margin: 32px 0 24px!important;
  }
  #blog-owl, #factory-owl {
    margin-top: 24px;
  }
  #comunity-page .inner-content .inner-photo .text h3 {
    font-size: 14px;
    line-height: 24px;
  }
  
  // page materials
    #materials-page {
      .inner-content {
        .materials-table {
          .caption {
            display: none;
          }
          .table-row  {
            flex-direction: column;
            h3 {
              margin-bottom: 15px;
            }
            p {
              font-size: 14px;
              margin-bottom: 15px;
            }
            & p:last-child {
              font-size: 14px;
              margin-left: 0!important;
              margin-bottom: 15px;
            }
            
          }
        }  
      }
    }
// factory page
  #factory-page {
    .factory-content {
      .factory-photo {
       .text {
         h3 {
          font-size: 14px;
          line-height: 24px;
          margin: 32px 0 16px;
         }
       }
      }
    }
  }
   // NEWS PAGE 
   #news {
     padding-top: 80px;
     h1 {
      font-size: 42px;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 32px;
     }
    .news-wrap {
      padding-bottom: 50px;
      .news-link {
          flex: 100%;
          .news-content {
            margin: 0 0px 32px;
          }
      }
    }
  } 
     // blog page
     #blog-page {
      .blog-back {
        top: 73px;
      }
      h1 {
        margin-top: 32px;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
      }
      .inner-content {
        .blog-photo2 {
          margin-bottom: 32px; 
        }
        .inner-photo {
          p {
            font-size: 14px;
          }
        }
       .inner-block {
         .blog-list {
           margin-top: 20px;
         }
         
        .blog-list .blog-item {
          margin-bottom: 20px;
          img.square {
            margin-right: 32px;
          }
          .num {
            font-size: 14px;
            line-height: 24px;
            margin-right: 20px;
          }
        }
       }
       .gallery {
         img {
           margin: 0 0 20px!important;
         }
       }
        .share_on .share-icon {
          display: none;
        }
        .blog-wrap {
          flex-direction: column;
        }
      }
    }
    #blog-page .inner-content .share_on .name h3 {
      font-size: 14px;
      line-height: 24px;
    }
    #blog-page .inner-content .share_on .social a {
      font-size: 14px;
      line-height: 24px;
    }
    // TERMS PAGE
  #terms-page {
    .inner-content {
      margin-bottom: 24px;
      h1{
        font-size: 25px;
      }
    }
    .terms-content {
      margin-bottom: 50px;
      p {
        font-size: 14px;
      }
      .list-wrap .list-text .sublist .sublist-item {
        margin-right: 12px;
      }
      .list-wrap .list-text .sublist .sublist-text ul {
        padding-left: 0;
      }
    }
  }
 // SEARCH PAGE
 #search-page {
   padding-top: 40px;
  .visability-title  {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1F1F22;
  }
  
  .hidden-title  {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #7D838A;
      display: none;
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #1F1F22;
      }
    }
 }
 .search {
  .search-mobile {
    padding: 15px 0;
    // border-bottom: 1px solid #E4E8EB;
    display: flex;
    margin-bottom: 32px;
    .line {
      border-bottom: 1px solid #e4e8eb;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 54px;
      left: 0;
      display: block;
    }
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F22;
    }
    .search-close {
      background: url(../../../media/icon/search-close.svg);
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
      margin-right: 16px;
      cursor: pointer;
    }
  }
  .search-wrap {
    border-bottom: none;
    justify-content: flex-start;
    .search-btn--block {
      display: none;
    }
    input {
      width: 216px;
      border-bottom: 1px solid #1F1F22;
      padding-bottom: 8px;
      margin-right: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #1F1F22;
    }
    input::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #7D838A;
      opacity: 1;
    }
    .search-btn--mobile {
      width: 40px;
      height: 40px;
      background: #D0D7DD;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      border-radius: 50%;
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search-btn--mobile:after {
      content:  "";
      background-image: url(../../media/icon/arrow-right-mobile.svg);
      background-position: center;
      background-size: cover;
      width: 14px;
      height: 12px;
      position: absolute;
      transform: rotate(180deg);
    }
    .search-btn--mobile:hover {
      background-color: #1F1F22;
    }
  }
}
    #filter-page .aside-catalog .dropdown>.dropdown-menu li .checklink span {
      font-size: 14px;
    }
    #filter-page .aside-catalog .dropdown>.dropdown-menu li .radio input+span {
      font-size: 14px;
    }
    #filter-page .aside-catalog .dropdown {
      margin-bottom: 32px;
      h3 {
        margin-bottom: 9px;
      }
    }
    #filter-page .aside-catalog .dropdown>#catalog-btn, 
    #filter-page .aside-catalog .dropdown>.catalog-color {
      margin-top: 24px;
    }
    #filter-page{
      .filter-nav{
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 15;
      }
      .aside-catalog{
        padding-top: 79px;
        .dropdown>#catalog-btn{
          margin-bottom: 82px;
        }
      }
      .btn-wrap {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 15;
        .btn-item button:first-child{
          background-color: #fff;
        }
        .btn-item button:last-child{
          background-color: #1f1f22;
          color: #fff;
        }
      }
    }
}