@media screen and (max-width: 575px) {
  // shape
  .shape__text {
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }
  // shape end
  // inner  pages 
  .inner-page,
  #philosophy-page,
  #comunity-page,
  #materials-page,
  #concept-page,
  #factory-page {
    padding-top: 80px;
    .inner-content{
      margin-bottom: 64px;
      h1 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      img {
        margin-bottom: 15px;
        height: 160px;
      }
      .inner-block {
        align-items: flex-start;
        margin-bottom: 0;
        p {
          font-size: 14px;
          margin-bottom: 30px;
          line-height: 24px;
        }
        h3 {
          margin-bottom: 44px;
        }
      }
      .inner-photo{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        max-height: none;
        margin-bottom: 50px;
        img {
          margin-bottom: 15px;
        }
        .text {
         
          align-self: flex-start;
        }
         P {
          line-height: 24px;
         }
      }
    }
  }
  // page materials
    #materials-page {
      .inner-content {
        .materials-table {
          .caption {
            display: none;
          }
          .table-row  {
            flex-direction: column;
            h3 {
              margin-bottom: 15px;
            }
            p {
              font-size: 14px;
              margin-bottom: 15px;
            }
            & p:last-child {
              font-size: 14px;
              margin-left: 0!important;
              margin-bottom: 15px;
            }
            
          }
        }  
      }
    }
// factory page
  #factory-page {
    .factory-content {
      .factory-photo {
       .text {
         h3 {
          margin-top: 40px;
         }
       }
      }
    }
  }
   // NEWS PAGE 
   #news {
     padding-top: 80px;
     h1 {
      font-size: 42px;
     }
    .news-wrap {
      padding-bottom: 50px;
      .news-link {
          flex: 100%;
      }
    }
  } 
     // blog page
     #blog-page {
      .blog-back {
        top: 73px;
      }
      h1 {
        margin-top: 20px;
        font-size: 23px;
        line-height: 38px;
      }
      .inner-content {
        
        .inner-photo {
          p {
            font-size: 14px;
          }
        }
       .inner-block {
         
       }
       .gallery {
         img {
           margin: 0 0 20px!important;
         }
       }
        .share_on .share-icon {
          display: none;
        }
        .blog-wrap {
          flex-direction: column;
        }
      }
    }
    // TERMS PAGE
  #terms-page {
    .inner-content {
      margin-bottom: 24px;
      h1{
        font-size: 25px;
      }
    }
    .terms-content {
      margin-bottom: 50px;
      p {
        font-size: 14px;
      }
      .list-wrap .list-text .sublist .sublist-item {
        margin-right: 12px;
      }
      .list-wrap .list-text .sublist .sublist-text ul {
        padding-left: 0;
      }
    }
  }
 // SEARCH PAGE
 #search-page {
   padding-top: 40px;
  .visability-title  {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1F1F22;
  }
  
  .hidden-title  {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: #7D838A;
      display: none;
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #1F1F22;
      }
    }
 }
 .search {
  .search-mobile {
    padding: 15px 0;
    border-bottom: 1px solid #E4E8EB;
    display: flex;
    margin-bottom: 32px;
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #1F1F22;
    }
    .search-close {
      background: url(../../../media/icon/search-close.svg);
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
      margin-right: 16px;
      cursor: pointer;
    }
  }
  .search-wrap {
    border-bottom: none;
    justify-content: flex-start;
    .search-btn--block {
      display: none;
    }
    input {
      width: 216px;
      border-bottom: 1px solid #1F1F22;
      padding-bottom: 8px;
      margin-right: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #1F1F22;
    }
    input::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #7D838A;
    }
    .search-btn--mobile {
      width: 40px;
      height: 40px;
      background: #D0D7DD;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      border-radius: 50%;
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search-btn--mobile:after {
      content:  "";
      background-image: url(../../media/icon/arrow-right-mobile.svg);
      background-position: center;
      background-size: cover;
      width: 14px;
      height: 12px;
      position: absolute;
      transform: rotate(180deg);
    }
  }
}

}