@media (max-width: 650px) {
  // home-text
  .home-text__center {
    align-items: flex-start;
  }

  .home-text__title {
    text-align: left;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .home-text__desc {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }
  // home-text end

  // collection
  .collections__content {
    padding-bottom: 32px;
  }

  .collections__slider {
    .collect-slider__item {
      width: 100%;

      .poster {
        height: 212px;
        margin-bottom: 24px;
      }

      .color-list {
        margin-bottom: 24px;
      }

      .color-list__item {
        @include base-box(16px);
      }

      .title {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 12px;
      }

      .desc {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 28px;
      }
    }

    .owl-nav {
      display: none;
    }
  }

  .collections {
    .collect__nav-box {
      .title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }
  }
  // collection end

  // blog
  .blog__list {
    display: none;
  }

  .blog__slider {
    display: block !important;
    .owl-stage-outer {
      overflow: visible !important;
    }

    .item {
      img {
        height: 136px;
        width: 100%;
        object-fit: cover;
        object-position: top center;
        margin-bottom: 16px;
      }

      .name {
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        color: #1F1F22;
        margin-bottom: 12px;
      }

      .desc {
        font-size: 14px;
        line-height: 24px;
        color: #7D838A;

        br {
          display: none;
        }
      }
    }
  }
  // blog end

  // second block home
  .image-text__imgs--double {
    justify-content: space-evenly;
  }

  .image-text__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .image-text__desc {
    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  .image-text__img--1 {
    max-height: calc(100vh / 2 - 48px);
  }

  .image-text__img--2 {
    margin-left: -30px;
    max-height: calc(100vh / 2 - 48px);
  }
  // second block home end
 
}