@media screen and (max-width: 760px) {
  // list
  .list__col-wrapper {
    padding-bottom: 80px;
  }

  .list__col {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list__item {
    max-width: calc(100% / 2 - 24px);
    margin-bottom: 24px;

    .img__block {
      padding: 20px;
      margin-bottom: 16px;
      height: 124px;

      img {
        @include base-box(84px)
      }

      .list__inner-slider {
        .inner__item {
          max-height: 124px;
        }
      }
    }

    .name {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 20px
    }

    .price {
      font-size: 12px;
      line-height: 20px;
    }
  }
  // list end
  // philosophy page 
    .inner-page {
      .inner-content{
        h1 {
          font-size: 46px;
        }
      }
    }  
 // page materials
    #materials-page {
      .inner-content {
        .materials-table {
          .table-row  {
            p {
              font-size: 14px;
            }
            & p:last-child {
              font-size: 14px;
            }
            
          }
        }  
      }
    }
// material page slider
  #blog-owl .owl-nav, #factory-owl .owl-nav{
    display: none;
  } 
  .slider-text {
    max-width: 163px!important;
    p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0!important;
    }
  }
  // TERMS PAGE
  #terms-page {
    .inner-content h1{
      font-size: 39px;
    }
  }

  // catalog
  .catalog-wrap {
    justify-content: space-between;

    .list__item {
      max-width: calc(100% / 2 - 16px);

      &:nth-child(3n+3) {
        margin-right: 32px;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  // catalog end
}