@media screen and (max-width: 760px) {
  // list
  .list__col-wrapper {
    padding-bottom: 80px;
  }

  .list__col {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list__item {
    max-width: calc(100% / 2 - 12px);
    margin-bottom: 24px;

    &:last-child {
      display: none;
    }

    .img__block {
      margin-bottom: 16px;
      height: 124px;

      .list__inner-slider {
        .inner__item {
          max-height: 124px;
        }
      }
    }

    .name {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 20px
    }

    .price {
      font-size: 12px;
      line-height: 20px;
    }
  }
  // list end
  // philosophy page 
    .inner-page {
      .inner-content{
        h1 {
          font-size: 46px;
        }
      }
    }  
 // page materials
    #materials-page {
      .inner-content {
        .materials-table {
          .table-row  {
            p {
              font-size: 14px;
            }
            & p:last-child {
              font-size: 14px;
            }
            
          }
        }  
      }
    }
// material page slider
  #blog-owl .owl-nav, #factory-owl .owl-nav{
    display: none;
  } 
  .slider-text {
    max-width: 163px!important;
    p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0!important;
    }
  }
  // TERMS PAGE
  #terms-page {
    .inner-content h1{
      font-size: 39px;
    }
  }

  // catalog
  .catalog-wrap {
    justify-content: space-between;

    .list__item {
      max-width: calc(100% / 2 - 16px);

      &:nth-child(3n+3) {
        margin-right: 32px;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  // catalog end
  // page orders
  #orders {
    .inner-content {
      .aside-catalog {
        .dropdown {
          border-bottom: none!important;
          margin-bottom: 24px;
          background-color: #fff;
          padding: 24px!important;
          padding-top: 52px!important;
          input {
            display: none;
          }
        }
        .dropdown a {
          flex-direction: column;
          .order {
            display: flex;
            .order-mobile {
              margin-right: 30px;
              width: 75px;
              display: block;
              margin-bottom: 16px;
            }
            button {
              position: absolute;
              top: 24px;
              left: 24px;
              font-size: 12px;
              line-height: 20px;
            }
            p {
              font-size: 14px;
              line-height: 24px; 
            }
          }
          .date {
            display: flex;
            flex-direction: row-reverse;
            width: 140px;
            min-width: max-content!important; 
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .price {
            display: flex;
            flex-direction: row-reverse;
            width: 174px;
            max-width: none!important;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .count {
            display: flex;
            flex-direction: row-reverse;
            width: 107px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .btn-mobile {
            display: block!important;
          }
          .order-mobile {
            display: block!important;
            margin-right: 30px;
            width: 75px;
          }
        }
        .dropdown a:after {
          display: none!important;
        }
        .dropdown a:before {
          display: none!important;
        }
      }
    }
  }
  #orders .aside-catalog .dropdown>input[type=checkbox]:checked~.dropdown-menu {
    display: none;
  }
  #orders .inner-content .aside-catalog ul .dropdown a .order {
    margin-right: 0;
  }
   // modal pass recovery
   .pass-overlay {
    .pass-modal {
      .pass-item {
        p {
          font-size: 12px;
        }
      }
    }
  }
   // YOUR BAG PAGE
   #yourbag{
  
    .inner-content{
      h1 {
        font-size: 45px; 
      }
      .cart-wrap {
        .cart-item {
          justify-content: center;
          border-bottom: 1px solid #E4E8EB;
          .line {
            display: none;
          }
          .cartcaption{
            display: none;
          }
          .cart-block{
            display: none;
            
          }
          .card-mobile {
            display: flex;
            width: 100%;
            justify-content: space-between;
            img {
              width: 50px;
              height: 50px;
              object-position: center;
              object-fit: cover;
              margin-right: 24px;
            }
            .second-section {
              display: flex;
              flex-direction: column;
              .middle {
                display: flex;
                img {
                  width: 20px;
                  height: 22px;
                  object-position: center;
                  object-fit: cover;
                  margin-right: 0px;
                }
                .item-title {
                  h4 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 16px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #1F1F22;
                    opacity: 0.3;
                    margin-bottom: 12px;
                    margin-top: 4px;
                  }
                  h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #1F1F22;
                    max-width: 180px;
                    margin-bottom: 12px;
                  }
                }
              }
              .last-section {
                display: flex;
                justify-content: space-between;
                .item-price {
                  
                  p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #1F1F22;
                    max-width: 180px;
                  }
                  .offer {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #B2B8BF;
                  }
                }
                .quantity-mobile {
                  .select {
                    border: 1px solid #E4E8EB;
                    border-radius: 4px;
                    width: 80px;
                    .select-styled {
                      border: none;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 24px;
                      text-align: center;
                      color: #1F1F22;
                      text-align: left;
                    }
                    .select-styled:after {
                      top: 0;
                      right: 0;
                      background-color: #E4E8EB;
                      padding: 11px;
                      width: 18px;
                      background-size: 24px;
                      background-repeat: no-repeat;
                      height: 18px;
                      background-image: url(../../../media/icon/select-mobile.svg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }

  // catalog page
  #catalog-page {
    .list__item {
      .name {
        text-align: left;
      }

      .price {
        text-align: left;

        &:hover {
          color: #7d838a;

          .price__quick {
            opacity: 0;
            display: none;
          }
        }
      }
    }
  }
  // catalog page
}