@media screen and (max-width: 760px) {
  // list
  .list__col-wrapper {
    padding-bottom: 80px;
  }

  .list__col {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list__item {
    max-width: calc(100% / 2 - 24px);
    margin-bottom: 24px;

    .img__block {
      padding: 20px;
      margin-bottom: 16px;
      height: 124px;

      img {
        @include base-box(84px)
      }

      .list__inner-slider {
        .inner__item {
          max-height: 124px;
        }
      }
    }

    .name {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 20px
    }

    .price {
      font-size: 12px;
      line-height: 20px;
    }
  }
  // list end
  // philosophy page 
    .inner-page {
      .inner-content{
        h1 {
          font-size: 46px;
        }
      }
    }  
 // page materials
    #materials-page {
      .inner-content {
        .materials-table {
          .table-row  {
            p {
              font-size: 14px;
            }
            & p:last-child {
              font-size: 14px;
            }
            
          }
        }  
      }
    }
// material page slider
  #blog-owl .owl-nav, #factory-owl .owl-nav{
    display: none;
  } 
  .slider-text {
    max-width: 163px!important;
    p {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0!important;
    }
  }
  // TERMS PAGE
  #terms-page {
    .inner-content h1{
      font-size: 39px;
    }
  }

  // catalog
  .catalog-wrap {
    justify-content: space-between;

    .list__item {
      max-width: calc(100% / 2 - 16px);

      &:nth-child(3n+3) {
        margin-right: 32px;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
  // catalog end
  // page orders
  #orders {
    .inner-content {
      .aside-catalog {
        .dropdown {
          border-bottom: none!important;
          margin-bottom: 24px;
          background-color: #fff;
          padding: 24px!important;
          padding-top: 52px!important;
          input {
            display: none;
          }
        }
        .dropdown a {
          flex-direction: column;
          .order {
            display: flex;
            .order-mobile {
              margin-right: 30px;
              width: 75px;
              display: block;
              margin-bottom: 16px;
            }
            button {
              position: absolute;
              top: 24px;
              left: 24px;
              font-size: 12px;
              line-height: 20px;
            }
            p {
              font-size: 14px;
              line-height: 24px; 
            }
          }
          .date {
            display: flex;
            flex-direction: row-reverse;
            width: 140px;
            min-width: max-content!important; 
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .price {
            display: flex;
            flex-direction: row-reverse;
            width: 174px;
            max-width: none!important;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .count {
            display: flex;
            flex-direction: row-reverse;
            width: 107px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 24px;
          }
          .btn-mobile {
            display: block!important;
          }
          .order-mobile {
            display: block!important;
            margin-right: 30px;
            width: 75px;
          }
        }
        .dropdown a:after {
          display: none!important;
        }
        .dropdown a:before {
          display: none!important;
        }
      }
    }
  }
  #orders .aside-catalog .dropdown>input[type=checkbox]:checked~.dropdown-menu {
    display: none;
  }
  #orders .inner-content .aside-catalog ul .dropdown a .order {
    margin-right: 0;
  }
   // modal pass recovery
   .pass-overlay {
    .pass-modal {
      .pass-item {
        p {
          font-size: 12px;
        }
      }
    }
  }
}