@media (max-width: 800px) {
  // home about
  .home-about__content {
    padding-bottom: 24px;

    .bot-line,
    .top-line {
      display: none;
    }
  }

  .home-about__col {
    .coll__top {
      padding-bottom: 48px;
    }

    .coll__center {
      display: none;
    }

    .coll__bottom {
      display: none;
    }
  }

  .home-about__big-block {
    img {
      width: 56px;
      height: 56px;
      margin-bottom: 16px;
    }
  }

  .home-about__container{
    padding-top: 80px;
    &::after {
      display: none;
    }
  }

  .home-about__border {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .home-about {
    height: max-content;
    .about__mobile-bottom {
      display: block;

      .links {
        margin: 48px 0;
      }

      .subs {
        padding-bottom: 48px;
      }

      .elba-coop {
        margin-top: 24px;
        font-size: 12px;
        line-height: 20px;
        color: #565B62;
      }
    }
  }
  // home about end
    // blog page
  #blog-page {
    h1 {
      margin: 0 0 34px;
    }
    .blog-back {
      position: absolute;
      top: 117px;
    }
    .inner-content {
      .inner-photo {
        .text {
          align-self: flex-start;
          margin-top: 50px; 
        }
      }
     .inner-block {
       .sublist {
         margin-left: 20px;
       }
      
     }
    }
  }
// catalog page
  .catalog-overlay {
    display: none !important;
  }
    #catalog-page{
      .filter-btn {
        display: flex;
        width: 100%;
        max-width: 100%;
      }
      .aside-catalog {
        display: none;
      }
    }
    #address .inner-content .address-block .radio input+span {
      font-size: 14px;
    } 
  // payment page 
  #payment {
    .inner-content {
      margin-bottom: 32px;
      .payment-wrap {
        .payment-item {
          flex-direction: column;
          background-color: #fff;
          margin-bottom: 16px;
          border: none;
          padding: 32px 24px;
          .paycaption {
            display: none;
          }
          .payment-mobile {
            display: block;
          }
          .payment-name,
          .card,
          .card-data {
            display: flex;
            align-items: center; 
            margin-bottom: 16px;
            span {
              width: 124px;
              font-size: 16px;
            }
          }
          .payment-btn {
            button { 
              border: 1px solid #1F1F22!important;
              padding: 10px 32px;
            }
            button:hover {
              color: #565B62!important;
              border: 1px solid #565B62!important;
            }
          }
          .payment-btn button:last-child {
            color: #C11030;
            border: 1px solid #B2B8BF;
          }
        }
        & .payment-item:first-child {
          display: none;
        }
      }
    }
    .footer {
      display: none; 
    }
  }
  #create_account .account-back,
  #sign_in_page .account-back {
    display: none;
  }  

  // modal pass recovery
  .pass-overlay {

    .pass-modal {
    
      .pass-close {
        width: 20px;
        height: 20px;
        top: 28px;
        right: 24px;
        filter: invert(1);
      }

    }
  }
  #order_mobile {
    .inner-content {
      .mobile-other-header {
        margin-bottom: 0;
        border-bottom: 1px solid #E4E8EB;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        padding: 12px 0 12px 64px;
        text-transform: none;
        line-height: 24px;
        font-size: 16px;
        display: block;

        a {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #1F1F22;
        }

        & a::before {
          content: "";
          background-image: url(../../media/icon/other-arrow.svg);
          background-position: center;
          background-size: cover;
          width: 24px;
          height: 24px;
          position: absolute;
          left: 21px;
        }
      }

      h1 {
        display: none;
      }
    }
  } 
}