@media screen and (max-width: 991px) {
  // home about
  .home-about__big-block {
    .name {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  .home-about__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
  }
  // home about
  // NEWS PAGE 
  #news {
    .news-wrap {
      .news-link {
          flex: 50%; 
      }
    }
  } 
  // blog page
  #blog-page {
    .inner-content {
     h1 {
      font-size: 36px;
     }
    }
  }
// TERMS PAGE
  #terms-page {
    .inner-content h1{
      font-size: 48px;
    }
  }  
// MODAL CATALOG 
  .catalog-overlay {
    .catalog-close {
      right: 0;
      top: -60px;
    }
    .catalog-modal {
      padding: 20px 0;
      .catalog-item {
        .img-main{
          margin-left: 20px;
        }
      }
      .catalog-item.catalog-item:nth-child(2) {
        padding-left: 20px;
        
      }
    }
  }
}