@media screen and (max-width: 991px) {
  // home about
  .home-about__big-block {
    .name {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  .home-about__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
  }
  // home about
  // NEWS PAGE 
  #news {
    .news-wrap {
      .news-link {
          flex: 50%;
      }
    }
  } 
}