@media (max-height: 676px) and (min-width: 1061px) {
  // shape
  .shape__wrapper {
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    left: 0;
    max-width: 100%;
  }

  .shape__imgs {
    transform: scale(.5);
  }
  // shape end

  // home about
  .home-about__container{
    &::after {
      display: none;
    }
  }

  .home-about__content {
    padding-bottom: 32px;
  }

  .home-about__col {
    .coll__bottom {
      height: 50px;
    }

    .elba-coop {
      margin-top: 30px;
    }
  }
  // home about end
}