.search {
	background: #F8F8F8;
	width: 100%;
	.search-mobile {
		display: none;
	}
	
	.filter-wrap {
		display: none;
	}
	.search-wrap {
		display: flex;
		justify-content: space-between;
		height: 80px;
		background: #F8F8F8;
		border-bottom: 1px solid rgba(31, 31, 34, 0.05);
		align-items: center;
		.line {
			display: none;
		}
		input {
			border: none;
			background: #F8F8F8;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			color: #000000;
			width: 100%;

			&::placeholder { 
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 32px;
				color: #000000;
				opacity: 0.2;
			}
		}
		.search-btn--block {
			display: flex;
			align-items: center;
			.search-close {
				background: url(../../../media/icon/search-close.svg);
				background-position: center;
				background-size: cover;
				width: 24px;
				height: 24px;
				margin-left: 70px;
				cursor: pointer;
			}
		}
	}
}
#search-page {
	min-height: 100vh;
	.visability-title {
		font-style: normal;
		font-weight: bold;
		font-size: 56px;
		line-height: 68px;
		color: #1F1F22;
	}
	.hidden-title {
		font-style: normal;
		font-weight: bold;
		font-size: 56px;
		line-height: 68px;
		color: #1F1F22;
		display: none;
	}
}