.fullPage {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all .6s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0;

  &--active {
    z-index: 50;
    opacity: 1;
  }
}