.collections {
  background: #F8F8F8;

  &__content {
    padding-bottom: 85px;
  }

  &__slider-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .collect__nav-box {
    .title {
      font-weight: bold;
      font-size: 56px;
      line-height: 68px;
      color: #1F1F22;
      margin-bottom: 48px;
    }
  }

  &__slider {
    width: 100%;
    display: flex !important;
    align-items: flex-end;
    position: relative;

    .owl-stage-outer {
      overflow: visible !important;
    }

    .owl-nav {
      position: absolute;
      top: -106px;
      right: -16px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        @include base-box(48px);
        background-image: url(../media/icon/arrow.svg) !important;
        background-color: #000 !important;
        border-radius: 50%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 18px 8px !important;
        filter: invert(1);
      }

      .owl-prev {
        margin-right: 24px;
        transform: rotate(180deg);
      }
    }
    
    .collect-slider__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 377px;

      .poster {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 400px;
        margin-bottom: 32px;
        object-position: center;
        object-fit: cover;
      }

      .color-list {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &__item {
          @include base-box(24px);
          margin-right: 12px;
          border-radius: 50%;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        color: #1F1F22;
        margin-bottom: 16px;
      }

      .desc {
        font-size: 16px;
        line-height: 28px;
        color: #7D838A;
        margin-bottom: 24px;
      }
    }
  }
}