.event {
  background: #F8F8F8;

  &__content {
    padding-bottom: 85px;
  }

  &__mobile-title {
    display: none;
  }

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .text__bottom {
      height: 305px;
      margin-top: 40px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    color: #000000;
  }

  &__desc {
    font-size: 20px;
    line-height: 32px;
    color: #7D838A;
    margin-bottom: 48px;
  }

  &__video-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 85px;
  }

  &__video-block {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .event__small {
      position: absolute;
      width: 232px;
      height: 232px;
      opacity: 0.3;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin-left: -116px;
      margin-top: -116px;
      z-index: 9;
    }

    .play {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      margin-left: -24px;
      margin-top: -24px;
      background-color: #FFFFFF;
      border-radius: 50%;
      @include base-background(16px);
      background-image: url(../media/icon/play.svg);
      cursor: pointer;
      z-index: 10;
    }
  }

  &__video {
    width: calc(100% - 196px);
    height: calc(100% - 196px);
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    z-index: 8;
    cursor: pointer;
  }
}