.home-first {
  display: flex;
  flex-direction: column;

  &__dots {
    display: none;
  }

  &__video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__top {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
  }

  &__video-line {
    max-width: max-content;

    .first,
    .last {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }

    .last {
      text-align: right;
    }

    .line {
      width: 91px;
      height: 1px;
      margin: 16px 0;
      position: relative;

      &__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        opacity: .7;
        z-index: 2;
        animation: lineAnim 4s infinite linear;
      }

      .line__full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        opacity: .2;
        z-index: 3;
      }
    }
  }

  &__content {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    color: #FFFFFF;
    margin-bottom: 40px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 40px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }

  &__nav {
    display: flex;
    margin-bottom: -5px;

    .nav__item {
      @include base-box(48px);
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include base-background(18px 8px);
        background-image: url(../media/icon/arrow.svg);
        filter: brightness(0);
      }
    }

    .prev {
      margin-right: 24px;
      transform: rotate(180deg);
    }
  }
}

@keyframes lineAnim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}