.home-about {
  background: #F8F8F8;

  &__content {
    padding-bottom: 85px;
  }

  &__container {
    position: relative;

    &::after {
      content: '';
      height: 1px;
      width: calc(100% - (100% / 15 * 3) - 6px);
      background: #000000;
      opacity: 0.1;
      right: 0;
      bottom: 65px;
      z-index: 10;
      position: absolute;
    }
  }

  &__col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .coll__bottom {
      height: 130px;
    }

    .coll__center {
      height: 230px;
    }

    .coll__top {
      padding-bottom: 65px;
    }

    .elba-coop {
      font-size: 14px;
      line-height: 24px;
      color: #565B62;
      margin-top: 113px;
    }
  }

  &__big-block {
    img {
      @include base-box(64px);
      object-fit: contain;
      object-position: center;
      margin-bottom: 24px;
    }

    .name {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 17px;
    }

    .desc {
      font-size: 16px;
      line-height: 28px;
      color: #7D838A;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    display: block;
  }

  .subs__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #1F1F22;
    margin-bottom: 12px;
  }

  .subs__desc {
    font-size: 14px;
    line-height: 24px;
    color: #7D838A;
    margin-bottom: 20px;
  }

  .subs__form {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      font-size: 14px;
      line-height: 24px;
      color: #7D838A;
      padding: 12px 40px 12px 24px;
      background-color: transparent;
      border: 1px solid #7D838A;
      border-radius: 24px;

      &::placeholder {
        font-size: 14px;
        line-height: 24px;
        color: #7D838A;
      }
    }

    .subs__submit {
      position: absolute;
      @include base-box(32px);
      background-color: #000;
      border: none;
      border-radius: 50%;
      top: 50%;
      margin-top: -16px;
      right: 8px;
      background-image: url(../media/icon/submit.svg);
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 16px 14px;
    }
  }
}