.list {
  background: #F8F8F8;

  &__follow-us {
    position: fixed;
    width: 100%;
    bottom: 85px;
    left: 0;
    display: flex;
    justify-content: center;
  }

  &__content {
    padding-bottom: 85px;
    height: 100vh;
    max-height: 100vh;
  }

  &__col-wrapper {
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::-webkit-scrollbar { width: 0; }
  }

  &__mobile-title {
    display: none;
  }

  &__col {
    padding-top: 148px;
    width: 100%;
    max-width: calc(100% / 3 - 32px);
  }

  &__item {
    width: 100%;
    margin-bottom: 64px;

    .img__block {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 73px 0;
      margin-bottom: 24px;

      img {
        display: block;
        @include base-box(140px);
        object-position: center;
        object-fit: contain;
      }
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #1F1F22;
      margin-bottom: 16px;
    }

    .price {
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      color: #7D838A;
    }
  }

  &__text-fixed {
    position: relative;
    height: 100vh;
  }

  &__text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 85px;

    .title {
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      color: #000000;
      margin-bottom: 40px;
    }

    .desc {
      font-size: 20px;
      line-height: 32px;
      color: #7D838A;
      margin-bottom: 48px;
    }
  }
}