.list {
  background: #F8F8F8;

  &__follow-us {
    position: fixed;
    width: 100%;
    bottom: 85px;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 70;
  }

  &__content {
    padding-bottom: 85px;
    height: 100vh;
    max-height: 100vh;
  }

  &__col-wrapper {
    height: 100vh;
    max-height: 100vh;
    overflow: visible;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::-webkit-scrollbar {
      width: 0;
    }

    .list__item {
      .img__block {
        max-height: 262px;
      }
    }

    .list__col--2 {
      .list__item {
        .img__block {
          max-height: 329px;
          min-height: 329px;
          height: 329px;
        }
      }
    }

    .list__col--2 {
      .list__item {
        .img__block {
          max-height: 251px;
        }
      }
    }
  }

  &__mobile-title {
    display: none;
  }

  &__col {
    width: 100%;
    max-width: calc(100% / 3 - 33px);
    max-height: max-content;
    height: max-content;
  }

  &__text-fixed {
    position: relative;
    height: 100vh;
  }

  &__text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 85px;

    .title {
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      color: #000000;
      margin-bottom: 40px;
      overflow: hidden;
      height: 38px;
      max-height: 38px;
      width: max-content;

      span {
        display: block;
      }
    }

    .desc {
      font-size: 20px;
      line-height: 32px;
      color: #7D838A;
      margin-bottom: 48px;
    }
  }
}

.list__item {
  width: 100%;
  margin-bottom: 64px;

  .img__block {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;

    .list__inner-slider {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all .3s;
      opacity: 0;

      .inner__item {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
      }

      .list-inner__nav {
        position: absolute;
        z-index: 3;
        width: 100%;
        bottom: 8px;
        display: flex;
        height: calc(100% - 8px);

        .item {
          width: 100%;
          height: 100%;
          margin-right: 8px;
          position: relative;

          &::after {
            content: '';
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: .3;
            border-radius: 2px;
            background-color: #fff;
          }

          &:first-child {
            margin-left: 8px;
          }

          &.active {

            &::after {
              opacity: 1;
            }
          }
        }
      }

      .inner__item {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &.active  {
          opacity: 1;
        }
      }
    }

    &:hover {
      .list__inner-slider {
        opacity: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .name {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1F1F22;
    margin-bottom: 16px;
  }

  .price {
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #7D838A;
    position: relative;
    transition: all .3s;

    &__quick {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-weight: bold;
      font-size: 12px;
      line-height: 40px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;
      border: 1px solid #000000;
      cursor: pointer;
      transition: all .3s;
      opacity: 0;
    }

    &:hover {
      color: #f8f8f8;

      .price__quick {
        opacity: 1;
      }
    }
  }
}