.aside-bar
    .nav
        ul
            +asideNav('#', 'Guarantees')
            +asideNav('#', 'PAYMENT')
            +asideNav('#', 'DELIVERY AND RETURN')
            +asideNav('#', 'Contact')
            +asideNav('#', 'COOKIES')
            +asideNav('#', 'PERSONAL DATA POLICY')
            +asideNav('#', 'TERMS AND CONDITIONS')