.aside-bar
    .nav
        ul
            +asideNav('', 'All')
            +asideNav('', 'Categorie_01')
            +asideNav('', 'Categorie_02')
            +asideNav('', 'Categorie_03')
            +asideNav('', 'Categorie_04')