.aside-bar
    .nav
        ul
            +asideNav('./philosophy.html', 'Our Philosophy')
            +asideNav('./comunity.html', 'Our Comunity')
            +asideNav('#', 'Our Factory')
            +asideNav('#', 'Our materials')