.aside-bar
    .nav
        ul
            +asideNav('./philosophy.html', 'Our Philosophy')
            +asideNav('./comunity.html', 'Our Comunity')
            +asideNav('./factory.html', 'Our Factory')
            +asideNav('./materials.html', 'Our materials')