.basket-wrap
  .basket-title
    h2 Your order
    p € 1,420.00
  .basket-block  
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200 
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200
    .busket-item
      img(src="../media/icon/modal-elem.svg", alt="icon")
      .item
        h4 Leather
        h3 Little E — Logo Max White & Black
        p €200            
  button Sign in