.catalog-overlay
	.catalog-modal
		.catalog-close
		.catalog-item
			.img-block

				img(src="../media/icon/modal-gallery5.png", alt="image").small-img

				img(src="../media/icon/modal-gallery2.png", alt="image").small-img

				img(src="../media/icon/modal-gallery3.png", alt="image").small-img

				img(src="../media/icon/modal-gallery.png", alt="image").small-img

				img(src="../media/icon/modal-gallery3.png", alt="image").small-img

			img(src="#", alt="").img-main    
		.catalog-item
			h3 Elbag
			h2 Little E - Lether / Cotton
			p Le Little E (Little Elephant Bag) est le premier sac à main qui vous permet de découvrir toutes les facettes de la marque ELBA Concept.
			h4 Elements
			.modal-elem
				a(href="#")
					img(src="../media/icon/modal-elem.svg", alt="icon")
				a(href="#")    
					img(src="../media/icon/modal-elem2.svg", alt="icon")
				a(href="#")
					img(src="../media/icon/modal-elem.svg", alt="icon")
				a(href="#")    
					img(src="../media/icon/modal-elem2.svg", alt="icon")    
			h5 price
			.price 
				p € 1,420.00
				p.offer  1,420.00
			.button-modal
				a(href="#") Add and continue
				a(href="#") Buy now