.conf-modal.conf-modal--about
  .conf-modal__close
  .conf-modal__body
    .order-mobile-head.conf-mobile-visible.order-head-modal Back to configurator
    .conf-modal__title About this product
    .conf-modal__sub-title Article: ELBA DM81214
    .conf-modal__text
      p Le Little E (Little Elephant Bag) est le premier sac à main qui vous permet de découvrir toutes les facettes de la marque ELBA Concept
      p Little E est une forme très organique et fluide, composée de 5 éléments (un body, une shape – à choisir entre deux formats, deux anses, une bandoulière).
      p Vous transformez et modifiez votre sac selon vos envies, votre humeur, votre garde-robe, sans limites.
      p La création et le montage original vous permettent de réaliser en quelques secondes le modèle qui vous correspond le plus ou celui qui se marie avec votre nouvelle paire de sneakers…
      p Selon la forme choisie, vous créez une forme « bowling » très pratique ou une version « slim », plus urbaine, plus day-to-day.
    .conf-modal__table
      .item.item--title
        .left
        .right.right--title Dimension
      .item
        .left Shape Bowling:
        .right 33.5 x 19.5 x 13 (cm)
      .item
        .left Shape Bowling:
        .right 33.5 x 16 x 17 (cm)
    .conf-modal__table
      .item.item--title
        .left
        .right.right--title Couleur & Matière:
      .item
        .left Body
        .right Pattern Elephant Skin – Vinyle
      .item
        .left Shape Bowling:
        .right Blanc – Vinyle
      .item
        .left Shape Bowling:
        .right Argent – Vinyle
      .item
        .left Anse & Bandoulière:
        .right Blanc – Vinyle

.conf-modal.conf-modal--delivery
    .conf-modal__close
    .conf-modal__body
        .order-mobile-head.conf-mobile-visible.order-head-modal Back to configurator
        .conf-modal__title Delivery
        .conf-modal__sub-title Article: ELBA DM81214
        .conf-modal__text
            p Le Little E (Little Elephant Bag) est le premier sac à main qui vous permet de découvrir toutes les facettes de la marque ELBA Concept
            p Little E est une forme très organique et fluide, composée de 5 éléments (un body, une shape – à choisir entre deux formats, deux anses, une bandoulière).
            p Vous transformez et modifiez votre sac selon vos envies, votre humeur, votre garde-robe, sans limites.
            p La création et le montage original vous permettent de réaliser en quelques secondes le modèle qui vous correspond le plus ou celui qui se marie avec votre nouvelle paire de sneakers…
            p Selon la forme choisie, vous créez une forme « bowling » très pratique ou une version « slim », plus urbaine, plus day-to-day.
        .conf-modal__table
            .item.item--title
                .left
                .right.right--title Dimension
            .item
                .left Shape Bowling:
                .right 33.5 x 19.5 x 13 (cm)
            .item
                .left Shape Bowling:
                .right 33.5 x 16 x 17 (cm)
        .conf-modal__table
            .item.item--title
                .left
                .right.right--title Couleur & Matière:
            .item
                .left Body
                .right Pattern Elephant Skin – Vinyle
            .item
                .left Shape Bowling:
                .right Blanc – Vinyle
            .item
                .left Shape Bowling:
                .right Argent – Vinyle
            .item
                .left Anse & Bandoulière:
                .right Blanc – Vinyle

.conf-modal.conf-modal--service
    .conf-modal__close
    .conf-modal__body
        .order-mobile-head.conf-mobile-visible.order-head-modal Back to configurator
        .conf-modal__title Service
        .conf-modal__sub-title Article: ELBA DM81214
        .conf-modal__text
            p Le Little E (Little Elephant Bag) est le premier sac à main qui vous permet de découvrir toutes les facettes de la marque ELBA Concept
            p Little E est une forme très organique et fluide, composée de 5 éléments (un body, une shape – à choisir entre deux formats, deux anses, une bandoulière).
            p Vous transformez et modifiez votre sac selon vos envies, votre humeur, votre garde-robe, sans limites.
            p La création et le montage original vous permettent de réaliser en quelques secondes le modèle qui vous correspond le plus ou celui qui se marie avec votre nouvelle paire de sneakers…
            p Selon la forme choisie, vous créez une forme « bowling » très pratique ou une version « slim », plus urbaine, plus day-to-day.
        .conf-modal__table
            .item.item--title
                .left
                .right.right--title Dimension
            .item
                .left Shape Bowling:
                .right 33.5 x 19.5 x 13 (cm)
            .item
                .left Shape Bowling:
                .right 33.5 x 16 x 17 (cm)
        .conf-modal__table
            .item.item--title
                .left
                .right.right--title Couleur & Matière:
            .item
                .left Body
                .right Pattern Elephant Skin – Vinyle
            .item
                .left Shape Bowling:
                .right Blanc – Vinyle
            .item
                .left Shape Bowling:
                .right Argent – Vinyle
            .item
                .left Anse & Bandoulière:
                .right Blanc – Vinyle