footer.footer
  .home-about
    .home-about__content
      .m-container.full-height.home-about__container
        .m-row.full-height
          .m-col.m-col--3.m-col__ms-display-none
            .follow-us
              a.follow-us__link.follow-us__link--dark(href='#') Follow us

          .m-col.m-col--4.m-col__ms--5.m-col__mxs--15
            .home-about__col
              .coll__top
                .home-about__big-block
                  img(src='./media/icon/payment.svg' alt='elba')
                  .name Payment security
                  .desc All payments are protected by the #[br]standard of 256 bit encryption

              .coll__center
                a.home-about__link(href='#') Garanties
                a.home-about__link(href='#') Livraisons & Retour
                a.home-about__link(href='#') CGV
                a.home-about__link(href='#') Paiements

              .coll__bottom
                .elba-coop ELBACONCEPT©2020. All right reserved.

          .m-col.m-col--4.m-col__ms--5.m-col__mxs--15
            .home-about__col
              .coll__top
                .home-about__big-block
                  img(src='./media/icon/fast.svg' alt='elba')
                  .name Fast shipping
                  .desc Delivery in 2 to 5 working days #[br] Excluding personalized Elbag
              .coll__center
                a.home-about__link(href='#') Contact
                a.home-about__link(href='#') Adresses des boutiQues

              .coll__bottom

          .m-col.m-col--4.m-col__ms--5.m-col__mxs--15.home-about__border
            .home-about__col
              .coll__top
                .home-about__big-block
                  img(src='./media/icon/money.svg' alt='elba')
                  .name Money Back Guarantee
                  .desc Free return within 30 days #[br] Excluding personalized Elbag
              .coll__center
                .subs__title Get 10% Off your first order
                .subs__desc Get an discount on the first order of your bag
                form.subs__form
                  input(type='email' placeholder='Enter your Email').subs__input
                  button.subs__submit

              .coll__bottom

          .m-col.m-col__mxs--15.about__mobile-bottom
            .links
              a.home-about__link(href='#') Garanties
              a.home-about__link(href='#') Livraisons & Retour
              a.home-about__link(href='#') CGV
              a.home-about__link(href='#') Paiements
              a.home-about__link(href='#') Contact
              a.home-about__link(href='#') Adresses des boutiQues

            .subs.home-about__border
              .subs__title Get 10% Off your first order
              .subs__desc Get an discount on the first order of your bag
              form.subs__form
                input(type='email' placeholder='Enter your Email').subs__input
                button.subs__submit

            .elba-coop ELBACONCEPT©2020. All right reserved.
  //- MODAL PASSS RECOVERY 
  .pass-overlay
    .pass-modal
      .pass-close
      .pass-item
        h3 Password recovery
        p Please indicate the email address to which the account is registered and we will send you instructions to restore access to your account.
        input(type="text" placeholder="Example@gmail.com")
        button SEND              