header.header
  .m-container
    .m-row
      .m-col
        .header__wrapper
          .header__mobile
          .header__left
            a.header__logo(href='/')
              img(alt='elba' src='./media/icon/logo.png')

            .header__lang
              a.item(href='#') EN
              a.item.item--active(href='#') FR

            .header__nav
              a.nav__item(href='./catalog.html') Shop
              a.nav__item(href='./concept.html') Concept
              a.nav__item(href='./philosophy.html') Univers
              a.nav__item(href='./news.html') News
          .header__right
            .small-icon(style='background-image: url(./media/icon/search.svg)' onclick="location.href='./search.html';")
            .small-icon(style='background-image: url(./media/icon/profile.svg)')
            .big-icon(style='background-image: url(./media/icon/cart.svg)' )