header.header.header--white
  .m-container
    .m-row
      .m-col
        .header__mobile
          .menu
            .item
            .item
          .mobile-button(style='background-size: 14.62px; background-image: url(./media/icon/mobile-search.svg)' onclick="location.href='./search.html';")
          a.mobile__link(href='/')
          .mobile-button(style='background-size: 15.56px; background-image: url(./media/icon/mobile-profile.svg)')
          .mobile-button(style='background-size: 18px; background-image: url(./media/icon/mobile-cart.svg)') 
        .header__wrapper
          .header__left
            a.header__logo(href='/')
              img(alt='elba' src='./media/icon/logo.png')

            .header__lang
              a.item(href='#') EN
              a.item.item--active(href='#') FR

            .header__nav
              a.nav__item(href='./catalog.html') Shop
              a.nav__item(href='./concept.html') Concept
              a.nav__item(href='./philosophy.html') Univers
              a.nav__item(href='./news.html') News
          .header__right
            .small-icon(style='background-image: url(./media/icon/search.svg)' onclick="location.href='./search.html';")
            .small-icon.sign_in(style='background-image: url(./media/icon/profile.svg)')
            .big-icon.basket(style='background-image: url(./media/icon/cart.svg)')
          include ../modules/sign_in-block
          include ../modules/log_out
          include ../modules/basket            