.configurator__sidebar
  .configurator__top
    .conf-sidebar__title Inspiration

  .configurator__content
    .conf__slider.conf-mobile-hidden
      .item
        .item__img-box
          img(src='./media/image/slider-bag1.png' alt='elba')

        .item__info
          .name Title of the Bag in this list
          .prices
            .price €295.00
            .real-price €195.00


      .item
        .item__img-box
          img(src='./media/image/slider-bag2.png' alt='elba')

        .item__info
          .name Little E — Logo Max White & Black
          .prices
            .real-price.real-price--single €295.00
    .conf__slider-nav.conf-mobile-hidden
      .conf-slider__btn.prev
      .conf-slider__btn.next

    .follow-us
      a.follow-us__link.follow-us__link--dark(href='#') Follow us