.configurator__sidebar
  .configurator__top
    .conf-sidebar__title Inspiration

  .configurator__content.margin-left-right
    .conf-mobile-slider.conf-mobile-visible.owl-carousel.owl-theme
      .item
        .item__img-box
          img(src='./media/image/slider-bag1.png' alt='elba')

        .item__info
          .price €295.00
          .name Title of the Bag in this list
          .add-to-cart + Add to cart


      .item
        .item__img-box
          img(src='./media/image/slider-bag1.png' alt='elba')

        .item__info
          .price €295.00
          .name Title of the Bag in this list
          .add-to-cart + Add to cart


      .item
        .item__img-box
          img(src='./media/image/slider-bag1.png' alt='elba')

        .item__info
          .price €295.00
          .name Title of the Bag in this list
          .add-to-cart + Add to cart


      .item
        .item__img-box
          img(src='./media/image/slider-bag1.png' alt='elba')

        .item__info
          .top
            .price €295.00
            .name Title of the Bag in this list
          .add-to-cart + Add to cart


    img.conf-mobile-visible.conf-mobile-img(alt='elba' src='./media/image/mobile.png')
    .conf__slider.conf-mobile-hidden(data-slid='0')
      .conf-slider__item
        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag1.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag2.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


      .conf-slider__item
        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag1.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag2.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


      .conf-slider__item
        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag1.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


        .item
          .item__img-box
            .owl-carousel.owl-theme.list__inner-slider
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
              img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img(src='./media/image/slider-bag2.png' alt='elba')

          .item__info
            .add-to-cart Add to cart
            .name Title of the Bag in this list
            .prices
              .price €295.00
              .real-price €195.00


    .conf__slider-nav.conf-mobile-hidden
      .conf-slider__btn.prev.disabled
      .conf-slider__btn.next

    .follow-us
      a.follow-us__link.follow-us__link--dark(href='#') Follow us