.list__item
  .img__block
    .owl-carousel.owl-theme.list__inner-slider
      img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
      img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
      img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
      img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
    img(src='./media/image/list1.png' alt='elba')
  .name Little E — Logo Max #[br] White & Black
  .price €295.00
    .price__quick Quick order