.list__item
    .img__block
        .list__inner-slider
            .list-inner__nav
                .item.active
                .item
                .item
                .item
            img.inner__item.active(src='./media/image/collect1.jpg' alt='elba')
            img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img.inner__item(src='./media/image/list-inner.jpg' alt='elba')
            img.inner__item(src='./media/image/collect2.jpg' alt='elba')
        img(src='./media/image/list1.png' alt='elba')
    .double-price-wrapp
        .name Little E — Logo Max White & Black
        .price €295.00
            .price__quick Quick order