.modal-menu
  .m-container
    .m-row
      .m-col
        .modal-menu__title ELBA concept
        .modal-menu__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.

        .modal-menu__nav
          a.item(href='/') Main page
          a.item(href='/catalog.html') Shop
          a.item(href='/concept.html') Concept
          .item.item--inner Univers
          a.item(href='/news.html') News

        .modal-menu__langs
          a.item(href='#') English
          a.item.item--active(href='#') French

.modal-menu.modal-menu--inner
  .modal-menu__back Univers
  .m-container
    .m-row
      .m-col
        .modal-menu__nav
          a.item(href='/philosophy.html') Our Philosophy
          a.item(href='/comunity.html') OUR Comunity
          a.item(href='/factory.html') Our Factory
          a.item(href='/materials.html') Our materials