.modal-menu
  .m-container
    .m-row
      .m-col
        .modal-menu__title ELBA concept
        .modal-menu__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.

        .modal-menu__nav
          a.item(href='#') Main page
          a.item(href='#') Shop
          a.item(href='#') Concept
          a.item(href='#') Univers
          a.item(href='#') News

        .modal-menu__langs
          a.item(href='#') English
          a.item.item--active(href='#') French