.configurator__sidebar
  .configurator__top
    .conf-sidebar__title#order-title Your order

  .configurator__content
    .order-list
      .order-list__item
        img(src='./media/image/order1.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200

      .order-list__item
        img(src='./media/image/order2.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200

      .order-list__item
        img(src='./media/image/order3.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
      .order-list__item
        img(src='./media/image/order4.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
      .order-list__item
        img(src='./media/image/order4.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
      .order-list__item
        img(src='./media/image/order4.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
    .order-buttons
      .item.item--add + Add element
      .item.item--check Checkout
    .order-new-element.order-new-element--main
      .order-list
        .new-item(data-type='body')
          img(src='./media/image/body.png' alt='body')
          .new-name Body
        .new-item(data-type='shape')
          img(src='./media/image/shape.png' alt='body')
          .new-name Shape
        .new-item(data-type='straps')
          img(src='./media/image/straps.png' alt='body')
          .new-name Handle and straps
      .order-buttons
        .item.item--cancel Cancel
    .order-new-element.order-new-element--material.order-new-element--body
      .order-list
        .new-material
          img(src='./media/image/circle1.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-buttons
        .item.item--select Select type
        .item.item--continue Continue
    .order-new-element.order-new-element--material.order-new-element--tabs
      .order-tabs
        .item.item--active First
        .item Second
        .item Third
        .item Fourth
      .order-list.order-list--show
        .new-material
          img(src='./media/image/circle1.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-list
        .new-material
          img(src='./media/image/circle11.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-list
        .new-material
          img(src='./media/image/circle12.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-list
        .new-material
          img(src='./media/image/circle13.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-buttons
        .item.item--select Select type
        .item.item--continue Continue
    .order-new-element.order-new-element--material.order-new-element--straps
      .order-list
        .new-material
          img(src='./media/image/circle1.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle2.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle3.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle4.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle5.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle6.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle7.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle8.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle9.jpg' alt='body')
          .name Argent Vynile
        .new-material
          img(src='./media/image/circle10.jpg' alt='body')
          .name Argent Vynile
      .order-buttons
        .item.item--select Select type
        .item.item--continue Continue