.configurator__sidebar
  .configurator__top
    .conf-sidebar__title Your order

  .configurator__content
    .order-list
      .order-list__item
        img(src='./media/image/order1.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200

      .order-list__item
        img(src='./media/image/order2.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200

      .order-list__item
        img(src='./media/image/order3.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
      .order-list__item
        img(src='./media/image/order4.png' alt='elba')
        .info
          .info__options
            .option.option--visible(style='background-image: url(./media/icon/visible.svg')
            .option(style='background-image: url(./media/icon/edit.svg')
            .option(style='background-image: url(./media/icon/trash.svg')
          .info__material Leather
          .info__name Little E — Logo Max White & Black
          .info__price €200
    .order-buttons
      .item.item--add + Add element
      .item.item--check Checkout