.search
	.m-container
		.m-row
			.m-col
				.search-wrap
					input(type="text" placeholder="I searching for...").search-inp
					.search-btn--block
						a.inner-btn.search-btn(href="#") Search
						.search-close.reset
