.sign_in-wrap
  h2 Create an account
  p Create a ELBA account with your email address.
  button Create an account
  h2 Sign in
  p Sign in with your email and password.
  form#sign_in
    input(type="text" placeholder="Email adress" required)
    .inp-block
      input(type="password" placeholder="Password" style="border: none")
      h3 FORGOT?
    .inp-block.inp-check  
      input(type="checkbox" checked).option-input
      h3 Remember me 
  button Sign in
  