.subscribe-overlay
  .subscribe-modal
    .subscribe-close
    .subscribe-item
      img(src="../media/image/subscribe.png", alt="image")
    .subscribe-item
      h4 Subscribe
      h3 Let's stay in touch
      p A 10% reduction is offered with the first purchase.
      input(type="text" placeholder="First name")
      input(type="text" placeholder="second name")
      input(type="text" placeholder="E-mail")
      .inner-block
        .checkbox
          input(type="checkbox" checked).option-input 
          p By checking this box and clicking "Register" below, I acknowledge that I have read and agree to the Terms & Conditions and Privacy Policy 
      button SUBSCRIBE 



//- WELCOME TO OUR COMUNITY
.welcome-overlay
  .pass-modal 
    .pass-close
    .pass-item
      h3  Welcome to our comunity!
      p  We are glad that you are in our ranks. We will send you#[br] a unique code on your first purchase!
      .modal-btn-block
        button Continue shopping          