.header {
  z-index: 60;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 1s;

  * {
    transition: all 1s;
  }

  &__mobile {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #1F1F22;
      opacity: 0.05;
    }
  }

  &__left {
    display: flex;
  }

  &__logo {
    display: block;
    margin-right: 187px;
  }

  &__lang {
    display: flex;
    margin-right: 230px;

    .item {
      display: block;
      height: 53px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.5;

      &:first-child {
        margin-right: 24px;
      }

      &--active {
        border-bottom: 1px solid #333333;
        color: #1F1F22;
        opacity: 1;
      }
    }
  }

  &__nav {
    .nav__item {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;
      margin-right: 48px;
      transition: all .3s;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-top: -18px;

    .small-icon {
      @include base-box(24px);
      @include base-background(contain);
      cursor: pointer;

      &:first-child {
        margin-right: 20px;
      }
    }

    .big-icon {
      margin-left: 16px;
      @include base-box(40px);
      @include base-background(24px);
      border: 1px solid #E4E8EB;
      border-radius: 50%;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        opacity: .7;
      }
    }
  }

  // white
  &--white {
    * {
      filter: brightness(0) invert(1);
    }

    .header__right {
      .big-icon {
        border: none;
        position: relative;

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid #fff;
          position: absolute;
          top: 0;
          left: 0;
          opacity: .2;
        }
      }
    }
  }
}