* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body,
html {
  position: relative;
}
h1 {
  text-transform: none; 
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*settings*/
@import "mixins";
@import "fonts";
@import "var";
@import "fullpage/fullpage";
@import "grid/main-grid";
@import "animations";

/*over use blocks*/
@import "header";
@import "footer";
@import "modules/modal-menu";

/*pages*/
// home
@import "pages/home/home-first";
@import "pages/home/home-text";
@import "pages/home/image-text";
@import "pages/home/shape";
@import "pages/home/collections";
@import "pages/home/blog";
@import "pages/home/list";
@import "pages/home/home-about";
@import "pages/home/event";
/*pages*/
// GENERAL STYLES FOR INNER STYLE
@import "pages/inner-pages/inner-page";
@import "pages/inner-pages/aside-bar";
/*pages*/
// OUR philosophy
@import "pages/philosophy/philosophy";
/*pages*/
// OUR comunity
@import "pages/comunity/comunity"; 
/*pages*/
// OUR factory
@import "pages/factory/factory";
@import "pages/factory/factory-slider";
/*pages*/
// OUR materials
@import "pages/materials/materials";
/*pages*/
// news
@import "pages/news/news";
/*pages*/
//  concept page
@import "pages/concept/concept";
/*pages*/
//  single-page-news
@import "pages/single-news/blog";
/*pages*/
//  Terms and COnditions PAge
@import "pages/termsAndConditions/terms"; 
/*pages*/
//  catalog
@import "pages/catalog/catalog"; 
@import "pages/catalog/catalog-modal"; 
@import "pages/catalog/_filter";
@import "pages/catalog/catalog-modal"; 
@import "pages/catalog/single-catalog";     
/*pages*/
//  SEARCH
@import "pages/search/search";    
/*pages*/
//  other pages
@import "pages/other_pages/sign_in.scss";  
@import "pages/other_pages/account"; 
@import "pages/other_pages/profile"; 
@import "pages/other_pages/address";
@import "pages/other_pages/basket";
@import "pages/other_pages/orders"; 
@import "pages/other_pages/payment"; 
@import "pages/other_pages/cookies";   
@import "pages/other_pages/subscribe";  
@import "pages/other_pages/unsubscribe";
@import "pages/other_pages/404";  
@import "pages/other_pages/checkout";  
@import "pages/other_pages/select";
@import "pages/other_pages/order_mobile";
@import "pages/other_pages/yourbag";                 
     


// configurator
@import "pages/configurator/configurator";

/*media*/
@import "media/h970";
@import "media/h810";
@import "media/h600";
@import "media/h676";
@import "media/h570";
@import "media/1500";
@import "media/1260";
@import "media/1199";
@import "media/1060";
@import "media/991";
@import "media/800";
@import "media/767";
@import "media/650";
@import "media/575";
@import "media/360";


// test

.test-poster {
  width: 300px;
  height: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 20px;

  canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}