* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body,
html {
  position: relative;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*settings*/
@import "mixins";
@import "fonts";
@import "var";
@import "fullpage/fullpage";
@import "grid/main-grid";
@import "animations";

/*over use blocks*/
@import "header";
@import "footer";
@import "modules/modal-menu";

/*pages*/
// home
@import "pages/home/home-first";
@import "pages/home/home-text";
@import "pages/home/image-text";
@import "pages/home/shape";
@import "pages/home/collections";
@import "pages/home/blog";
@import "pages/home/list";
@import "pages/home/home-about";
@import "pages/home/event";
/*pages*/
// GENERAL STYLES FOR INNER STYLE
@import "pages/inner-pages/inner-page";
@import "pages/inner-pages/aside-bar";
/*pages*/
// OUR philosophy
@import "pages/philosophy/philosophy";
/*pages*/
// OUR comunity
@import "pages/comunity/comunity"; 
/*pages*/
// OUR factory
@import "pages/factory/factory";
@import "pages/factory/factory-slider";
/*pages*/
// OUR materials
@import "pages/materials/materials";
/*pages*/
// news
@import "pages/news/news";
/*pages*/
//  concept page
@import "pages/concept/concept";
/*pages*/
//  single-page-news
@import "pages/single-news/blog";
/*pages*/
//  Terms and COnditions PAge
@import "pages/termsAndConditions/terms"; 
/*pages*/
//  catalog
@import "pages/catalog/catalog"; 
@import "pages/catalog/catalog-modal";    
/*pages*/
//  SEARCH
@import "pages/search/search";    
     


// configurator
@import "pages/configurator/configurator";

/*media*/
@import "media/h970";
@import "media/h810";
@import "media/h600";
@import "media/h676";
@import "media/h570";
@import "media/1500";
@import "media/1260";
@import "media/1199";
@import "media/1060";
@import "media/991";
@import "media/800";
@import "media/767";
@import "media/650";
@import "media/575";
@import "media/360";