* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body,
html {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*settings*/
@import "mixins";
@import "fonts";
@import "var";
@import "fullpage/fullpage";
@import "grid/main-grid";

/*over use blocks*/
@import "header";
@import "footer";

/*pages*/
// home
@import "pages/home/home-first";
@import "pages/home/home-text";
@import "pages/home/image-text";
@import "pages/home/shape";
@import "pages/home/collections";
@import "pages/home/blog";

/*media*/
@import "media/1199";
@import "media/991";
@import "media/767";
@import "media/575";