@import "main";
@import "left-sidebar";
@import "right-sidebar";
@import "conf-modal";

.configurator {
  background: #F8F8F8;
  width: 100%;
  height: 100vh;
  padding-bottom: 85px;

  &__top {
    height: 215px;
    display: flex;
    align-items: flex-end;
  }

  &__content {
    height: calc(100% - 215px);
    max-height: calc(100vh - 215px - 85px);
    overflow: hidden;
  }
}