.configurator__sidebar {
  height: 100%;

  .conf-sidebar__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #1F1F22;

    &--double {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .count {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: #565B62;
        margin-bottom: 5px;
      }
    }
  }

  .configurator__content {
    position: relative;
  }

  .conf__slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;

    .conf-slider__item {
      width: 100%;
      min-width: 100%;
      height: 100%;
      transition: all .3s;
    }

    .item {
      width: 100%;
      margin-bottom: 32px;
      
      &__img-box {
        height: 180px;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        position: relative;
        cursor: pointer;

        .list__inner-slider {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          transition: all .3s;
          opacity: 0;

          .inner__item {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
          }

          .list-inner__nav {
            position: absolute;
            z-index: 3;
            width: 100%;
            bottom: 8px;
            display: flex;
            height: calc(100% - 8px);

            .item {
              width: 100%;
              height: 100%;
              margin-right: 8px;
              position: relative;

              &::after {
                content: '';
                height: 4px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: .3;
                border-radius: 2px;
                background-color: #fff;
              }

              &:first-child {
                margin-left: 8px;
              }

              &.active {

                &::after {
                  opacity: 1;
                }
              }
            }
          }

          .inner__item {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;

            &.active  {
              opacity: 1;
            }
          }
        }

        &:hover {
          .list__inner-slider {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &__info {
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        .add-to-cart {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 12px;
          line-height: 40px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #1F1F22;
          border: 1px solid #1F1F22;
          font-weight: bold;
          text-align: center;
          transition: all .3s;
          opacity: 0;
        }

        .name {
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          color: #1F1F22;
          margin-right: 29px;
          transition: all .3s;
        }

        .prices {
          display: flex;
          align-items: flex-start;
          transition: all .3s;

          .price {
            font-size: 14px;
            line-height: 24px;
            color: #1F1F22;
          }

          .real-price {
            font-size: 14px;
            line-height: 24px;
            text-align: right;
            text-decoration-line: line-through;
            color: #7D838A;
            margin-left: 8px;
            margin-top: -.5px;

            &--single {
              text-decoration-line: none;
            }
          }
        }

        &:hover {
          .add-to-cart {
            opacity: 1;
          }

          .name,
          .prices {
            opacity: 0;
          }
        }
      }
    }
  }

  .conf__slider-nav {
    display: flex;
    align-items: center;

    .conf-slider__btn {
      @include base-box(48px);
      border-radius: 50%;
      background-color: #000;
      cursor: pointer;
      background-image: url(../media/icon/arrow.svg);
      @include base-background(18px 8px);
      filter: invert(1);
      
      &:hover {

      }
    }

    .prev {
      transform: rotate(180deg);
      margin-right: 24px;
    }

    .disabled {
      background-image: url(../media/icon/dis.svg);
      filter: none;
      background-color: #fff;
    }
  }

  .follow-us {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
  }
}

.conf-mobile-slider {
  .owl-stage {
    overflow: visible;
  }
}