@media (max-width: 1260px) {
  .configurator__main {
    .conf__title {
      font-size: 40px;
      line-height: 48px;
    }

    .conf__main-top {
      padding-top: 20px;

      .text {
        font-size: 14px;
        line-height: 24px;
      }

      .links {
        margin-left: 5px;
        max-width: calc(100% / 8 * 3);

        .link {
          font-weight: 500;
          font-size: 10px;
          line-height: 16px;
        }
      }
    }

    .conf__img {
      height: 224px;
      width: 224px;
    }

    .conf__main-bottom {
      .bot__total {
        font-size: 12px;
        line-height: 20px;
      }

      .bot__price {
        font-size: 20px;
        line-height: 32px;
      }

      .bot__real-price {
        font-size: 14px;
        line-height: 20px;
      }

      .bot__text {
        font-size: 12px;
        line-height: 20px;
        padding-right: 0;
      }
    }
  }

  .configurator__sidebar {
    .conf-sidebar__title {
      font-size: 24px;
      line-height: 40px;
    }

    .configurator__content {
      padding-top: 20px;
    }

    .conf__slider {
      .item__img-box {
        height: 120px;

        img {
          width: 82px;
          height: 82px;
        }
      }

      .item__info {
        align-items: center;

        .name {
          font-size: 12px;
          line-height: 16px;
        }

        .prices {
          flex-direction: column;

          .price {
            font-size: 12px;
            line-height: 16px;
          }

          .real-price {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
          }
        }
      }
    }

    .order-list__item {
      img {
        margin-right: 16px;
      }

      .info__name {
        font-size: 14px;
        line-height: 20px;
      }

      .info__price {
        font-size: 12px;
        line-height: 20px;
      }

      .info__options {
        .option {
          @include base-box(40px);
        }
      }
    }
  }

  .configurator__top {
    height: 150px;
  }
}

@media (max-width: 1060px) {
  .conf-mobile-hidden {
    display: none !important;
  }

  .configurator {
    .full-height {
      height: auto;
    }
  }

  .configurator__content {
    max-height: 100%;
    height: auto;
  }

  .configurator__top {
    height: auto;
  }

  .configurator__main {
    .conf__title {
      margin-top: 80px;
      font-size: 24px;
      line-height: 32px;
    }

    .conf__main-top {
      padding-right: 24px;

      .text {
        padding-right: 0;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .configurator__sidebar {
    margin-top: 32px;

    .conf-sidebar__title {
      font-size: 14px;
      line-height: 20px;
    }

    .configurator__content {
      padding-top: 16px;
    }
  }
}