.configurator__sidebar {
  .configurator__content {
    padding-top: 40px;
  }

  .order-list {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: auto;

    &__item {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;

      img {
        @include base-box(100px);
        object-position: center;
        object-fit: contain;
        display: block;
        margin-right: 32px;
      }

      .info {
        width: 100%;
        position: relative;

        &__options {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #fff;
          align-items: center;
          justify-content: flex-start;
          display: flex;
          visibility: hidden;
          transition: all .3s;
          opacity: 0;

          .option {
            @include base-box(48px);
            margin-right: 16px;
            border: 1px solid #E4E8EB;
            border-radius: 50%;
            cursor: pointer;
            @include base-background(20px);
            transition: all .3s;

            &:last-child {
              margin-right: 0;
            }

            &--hidden {
              background-image: url(../media/icon/hidden.svg) !important;
            }
          }
        }

        &__material {
          font-weight: 500;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #1F1F22;
          opacity: 0.3;
          transition: all .3s;
        }

        &__name {
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 4px;
          color: #1F1F22;
        }

        &__price {
          font-size: 14px;
          line-height: 24px;
          color: #1F1F22;
        }
      }

      &:hover {
        .info {
          &__material {
            opacity: 0;
          }

          &__options {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .order-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 10;

    .item {
      width: 100%;
      min-width: 50%;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #1F1F22;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      background: #fff;
      cursor: pointer;
      border-top: 1px solid #E4E8EB;
      transition: all .3s;

      &--add {

      }

      &--check {
        color: #fff;
        background: #1F1F22;
        border: none;
      }

      &--select {
        border-right: 1px solid #E4E8EB;
      }

      &:hover {
        background-color: #565B62;
        color: #fff;
      }
    }
  }
  
  .order-new-element {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    background-color: #fff;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;

    &--show {
      visibility: visible;
      opacity: 1;
      z-index: 18;
    }

    .order-list {
      .new-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 18px 0 45px;
        cursor: pointer;

        img {
          @include base-box(104px);
          object-fit: contain;
          object-position: center;
        }

        .new-name {
          margin-top: 16px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #1F1F22;
        }
      }
    }

    &--material {
      .order-list {
        display: flex;
        flex-wrap: wrap;

        .new-material {
          width: 100%;
          max-width: 50%;
          min-width: 50%;
          display: flex;
          flex-direction: column;
          padding: 40px 0;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all .3s;
          position: relative;

          img {
            @include base-box(40px);
            object-position: center;
            object-fit: contain;
            z-index: 2;
          }

          .name {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-top: 16px;
            text-align: center;
            color: #1F1F22;
            z-index: 2;
          }

          &--active {
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: #F2F4F7;
              opacity: 0.5;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    
    &--tabs {
      .order-tabs {
        background-color: #fff;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #E4E8EB;
        z-index: 11;
        position: relative;

        .item {
          height: 48px;
          width: 100%;
          font-weight: bold;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #1F1F22;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &--active {
            border-bottom: 1px solid #1F1F22;
          }
        }
      }

      .order-list {
        max-height: calc(100% - 48px);
        display: none;
        opacity: 0;
        transition: all .3s;

        &--show {
          display: flex;
          opacity: 1;
        }
      }
    }
  }
}